{
  "swagger": "2.0",
  "info": {
    "title": "DomScan",
    "description": "DomScan is a domain intelligence API providing domain analysis tools.\n\n**Core Features:**\n- Domain Availability: Check single or bulk domains using RDAP with 1,100+ TLDs supported\n- Domain Intelligence: AI suggestions, valuations, health checks, typosquatting detection\n- OSINT Tools: DNS lookup, WHOIS/RDAP, SSL certificates, subdomain discovery, IP geolocation, tech stack detection\n- Social & Branding: Social handle checker, brand name scoring\n- Phone Intelligence: Privacy-first phone number validation, normalization, and classification\n- Pricing: Scheduled standard-TLD tables from verified official registrar sources, plus separate credential-backed exact-domain quotes\n- Watchlist: Domain monitoring for expiration and availability alerts\n\n**Authentication:**\nMost API endpoints require authentication. Pass your API key via the x-api-key header or Authorization: Bearer header. Operations marked with an empty security requirement are intentionally public, including API specifications and selected catalog endpoints. Get your free API key at https://domscan.net/dashboard. Logged-in users on domscan.net tools pages are authenticated automatically via session cookie.\n\n**Rate Limits:**\nFree accounts can sustain 120 requests per minute per account, with a burst capacity of 60. All API keys and dashboard sessions belonging to the same free account share this budget.\n\nBulk endpoints have an additional free-tier budget of 20 HTTP requests per minute per account across all bulk endpoints. Free-tier bulk traffic is also capped at 100 requests per minute per IPv4 address or IPv6 /56 network. Platform-wide edge protections still apply to every tier.\n\nPaid accounts can sustain 600 requests per minute, with a burst capacity of 120. API-key requests are counted per key; browser-session requests are counted per IP. Paid accounts do not receive the additional free-tier bulk budget.\n\nEvery authenticated response includes X-RateLimit-Plan, X-RateLimit-Limit, X-RateLimit-Remaining, and X-RateLimit-Policy. X-RateLimit-Limit and X-RateLimit-Remaining describe the immediate burst bucket; X-RateLimit-Policy also states the sustained per-minute rate, scope, and any free bulk limits. Exceeding a limit returns HTTP 429 with Retry-After. Retry only after the indicated delay.\n\n**Credits System:**\nAPI calls consume credits based on endpoint complexity. Sign up for free to receive 10,000 credits monthly.\n- 1 credit: Status checks, DNS lookups, tool builders\n- 2-5 credits: Health checks, valuations, OSINT tools\n- Bulk endpoints: standard per-item rate for batching multiple items into fewer HTTP requests.\n- 6-25 credits: Recipe compound operations\n\nWhen credits reach zero, the API returns HTTP 402 with credits_remaining, credits_required, and a purchase_url. API responses include X-Credits-Requested, X-Credits-Charged, and X-Credits-Refunded. Authenticated responses also include X-Credits-Remaining. Free credits refresh monthly on the account's signup anniversary.\n\n**Error Handling:**\nStandardized API errors return JSON with type, code, message, status, retryable, request_id, and docs_url. Temporary errors can also include retry_after. Some endpoints include additional fields such as suggestion, details, login_url, or credit details. Handle HTTP 200, 201, 400, 401, 402, 403, 404, 422, 429, 500, 502, 503, and 504 in your client. Common error codes: BAD_REQUEST, UNAUTHORIZED, FORBIDDEN, INSUFFICIENT_CREDITS, RATE_LIMIT_EXCEEDED, NOT_FOUND, TIMEOUT, INTERNAL.",
    "version": "2.15.0",
    "contact": {
      "name": "DomScan Support",
      "url": "https://domscan.net",
      "email": "support@domscan.net"
    },
    "termsOfService": "https://domscan.net/legal/terms",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "host": "domscan.net",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/status": {
      "get": {
        "tags": [
          "Domain Availability"
        ],
        "summary": "Check domain availability",
        "description": "Check if a domain name is available for registration across multiple TLDs. Uses RDAP for authoritative results. Provide either the primary `name` + `tlds` format, or the single-domain shortcut `domain=example.com`.",
        "operationId": "checkDomainAvailability",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Domain name without TLD. Use together with tlds (e.g., \"example\" for example.com)",
            "required": false,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "x-example": "mycompany"
          },
          {
            "name": "tlds",
            "in": "query",
            "description": "Comma-separated list of TLDs to check (max 50). Use together with name.",
            "required": false,
            "type": "string",
            "x-example": "com,net,org,io"
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Single-domain shortcut for one TLD, for example \"mycompany.com\"",
            "required": false,
            "type": "string",
            "x-example": "mycompany.com"
          },
          {
            "name": "prefer_cache",
            "in": "query",
            "description": "Return cached results if available (faster)",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Availability check results",
            "schema": {
              "$ref": "#/definitions/StatusResponse"
            },
            "examples": {
              "application/json": {
                "name": "mycompany",
                "results": [
                  {
                    "domain": "mycompany.com",
                    "tld": "com",
                    "available": false,
                    "source": "rdap",
                    "latency_ms": 45
                  },
                  {
                    "domain": "mycompany.io",
                    "tld": "io",
                    "available": true,
                    "source": "rdap",
                    "latency_ms": 67
                  }
                ],
                "meta": {
                  "total_checked": 2,
                  "available_count": 1,
                  "duration_ms": 120
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/responses/RateLimited"
          }
        },
        "x-domscan-credits": {
          "model": "per_request",
          "default": 1
        }
      }
    },
    "/v1/status/bulk": {
      "post": {
        "tags": [
          "Domain Availability"
        ],
        "summary": "Bulk domain availability check",
        "description": "Check availability of multiple full domain names at once. Domains are checked in parallel for optimal performance. Results include availability status, source (RDAP or cache), and latency.\n\n**Credits:** 1 credit per domain. Example: 10 domains = 10 credits, 50 domains = 50 credits.",
        "operationId": "bulkCheckDomains",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "domains"
              ],
              "properties": {
                "domains": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 1,
                  "maxItems": 50,
                  "description": "Array of full domain names to check",
                  "example": [
                    "example.com",
                    "startup.io",
                    "brand.ai"
                  ]
                },
                "prefer_cache": {
                  "type": "boolean",
                  "default": false,
                  "description": "Return cached results if available (faster but may be stale)"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bulk check results",
            "schema": {
              "$ref": "#/definitions/BulkStatusResponse"
            },
            "examples": {
              "application/json": {
                "results": [
                  {
                    "domain": "example.com",
                    "tld": "com",
                    "available": false,
                    "source": "rdap",
                    "latency_ms": 45
                  },
                  {
                    "domain": "startup.io",
                    "tld": "io",
                    "available": true,
                    "source": "rdap",
                    "latency_ms": 67
                  },
                  {
                    "domain": "brand.ai",
                    "tld": "ai",
                    "available": true,
                    "source": "cache",
                    "latency_ms": 2
                  }
                ],
                "meta": {
                  "total_checked": 3,
                  "available_count": 2,
                  "duration_ms": 120
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/responses/RateLimited"
          }
        },
        "x-domscan-credits": {
          "model": "per_item",
          "default": 1
        }
      }
    },
    "/v1/openapi.json": {
      "get": {
        "tags": [
          "Meta"
        ],
        "summary": "Download the OpenAPI 3.0 specification",
        "description": "Returns the machine-readable OpenAPI 3.0 document for the DomScan API.",
        "operationId": "getOpenApiSpec",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OpenAPI 3.0 specification",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {}
            }
          },
          "429": {
            "$ref": "#/responses/RateLimited"
          }
        },
        "security": [],
        "x-domscan-credits": {
          "model": "per_request",
          "default": 0
        }
      }
    },
    "/v1/swagger.json": {
      "get": {
        "tags": [
          "Meta"
        ],
        "summary": "Download the Swagger 2.0 specification",
        "description": "Returns the Swagger 2.0 version of the API specification for tools that prefer Swagger over OpenAPI 3.",
        "operationId": "getSwaggerSpec",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Swagger 2.0 specification",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {}
            }
          }
        },
        "security": []
      }
    },
    "/v1/postman.json": {
      "get": {
        "tags": [
          "Meta"
        ],
        "summary": "Download the Postman collection",
        "description": "Returns the Postman collection for importing the DomScan API into Postman or compatible API clients.",
        "operationId": "getPostmanCollection",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Postman collection",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {}
            }
          }
        },
        "security": []
      }
    },
    "/v1/rapidapi.json": {
      "get": {
        "tags": [
          "Meta"
        ],
        "summary": "Download the RapidAPI marketplace specification",
        "description": "Returns the filtered OpenAPI 3.0 contract for importing supported stateless DomScan operations into RapidAPI Studio.",
        "operationId": "getRapidApiSpec",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "RapidAPI marketplace OpenAPI specification",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {}
            }
          }
        },
        "security": []
      }
    },
    "/v1/suggest": {
      "get": {
        "tags": [
          "Domain Suggestions"
        ],
        "summary": "Get AI domain suggestions",
        "description": "Generate AI-powered domain name suggestions based on keywords, with optional availability checking",
        "operationId": "suggestDomains",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "keywords",
            "in": "query",
            "description": "Comma-separated keywords (max 10)",
            "required": true,
            "type": "string",
            "x-example": "crypto,wallet,finance"
          },
          {
            "name": "tlds",
            "in": "query",
            "description": "Target TLDs (default: com,io,ai,co,app)",
            "required": false,
            "type": "string",
            "x-example": "com,io"
          },
          {
            "name": "style",
            "in": "query",
            "description": "Suggestion style preference",
            "required": false,
            "type": "string",
            "enum": [
              "brandable",
              "keyword-rich",
              "short",
              "pronounceable",
              "techy",
              "playful",
              "professional",
              "minimal"
            ],
            "default": "brandable"
          },
          {
            "name": "industry",
            "in": "query",
            "description": "Industry for targeted suggestions",
            "required": false,
            "type": "string",
            "enum": [
              "tech",
              "finance",
              "health",
              "ecommerce",
              "education",
              "media",
              "saas",
              "crypto",
              "ai",
              "gaming"
            ]
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language for prefixes/suffixes (romanized for non-Latin scripts). 30 languages supported.",
            "required": false,
            "type": "string",
            "enum": [
              "en",
              "zh",
              "es",
              "ja",
              "de",
              "fr",
              "pt",
              "it",
              "ko",
              "ru",
              "ar",
              "hi",
              "bn",
              "id",
              "ms",
              "th",
              "vi",
              "tr",
              "pl",
              "nl",
              "sv",
              "da",
              "no",
              "fi",
              "el",
              "cs",
              "hu",
              "ro",
              "uk",
              "he"
            ],
            "default": "en",
            "x-example": "es"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max suggestions (1-100)",
            "required": false,
            "type": "integer",
            "default": 20,
            "minimum": 1,
            "maximum": 100
          },
          {
            "name": "check",
            "in": "query",
            "description": "Check availability of suggestions",
            "required": false,
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "Domain suggestions",
            "schema": {
              "$ref": "#/definitions/SuggestResponse"
            },
            "examples": {
              "application/json": {
                "suggestions": [
                  {
                    "name": "string",
                    "domain": "example.com",
                    "tld": "com",
                    "score": 1,
                    "available": true,
                    "method": "string"
                  }
                ],
                "keywords": [
                  "string"
                ],
                "tlds": [
                  "string"
                ],
                "styles": [
                  "string"
                ],
                "industry": "tech",
                "language": "string",
                "generated_count": 1,
                "available_count": 1,
                "generation_summary": {
                  "requested_limit": 1,
                  "candidate_count": 1,
                  "returned_count": 1,
                  "availability_checked": true,
                  "availability_check_count": 1,
                  "available_count": 1,
                  "tld_count": 1,
                  "language": "string",
                  "method_counts": {},
                  "style_counts": {},
                  "top_method": "string",
                  "average_score": 1
                },
                "meta": {
                  "total_generated": 1,
                  "available_count": 1,
                  "generation_ms": 1
                }
              }
            }
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/responses/RateLimited"
          }
        },
        "x-domscan-credits": {
          "model": "per_request",
          "default": 5,
          "variants": [
            {
              "parameter": "check",
              "equals": false,
              "credits": 2
            }
          ],
          "note": "2 credits when check=false; 5 credits when availability is checked."
        }
      }
    },
    "/v1/lifecycle": {
      "get": {
        "tags": [
          "Domain Lifecycle"
        ],
        "summary": "Domain lifecycle information",
        "description": "Get domain lifecycle information including registration date, expiration date, age, days until expiry, and current lifecycle phase. Supports compound public suffix domains such as co.uk and com.au. Returns Fastly-style status flags.",
        "operationId": "getDomainLifecycle",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Domain to check lifecycle for",
            "required": true,
            "type": "string",
            "x-example": "bbc.co.uk"
          }
        ],
        "responses": {
          "200": {
            "description": "Lifecycle information",
            "schema": {
              "$ref": "#/definitions/LifecycleResponse"
            },
            "examples": {
              "application/json": {
                "domain": "bbc.co.uk",
                "tld": "co.uk",
                "registered": "1997-08-01T00:00:00Z",
                "expires": "2026-08-01T00:00:00Z",
                "updated": "2024-08-01T00:00:00Z",
                "age_days": 10515,
                "expires_in_days": 474,
                "phase": "active",
                "status_flags": [
                  "clientTransferProhibited",
                  "serverTransferProhibited"
                ],
                "status": "clientTransferProhibited serverTransferProhibited",
                "events": [
                  {
                    "action": "registration",
                    "date": "1997-08-01T00:00:00Z"
                  },
                  {
                    "action": "last changed",
                    "date": "2024-08-01T00:00:00Z"
                  },
                  {
                    "action": "expiration",
                    "date": "2026-08-01T00:00:00Z"
                  }
                ]
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/responses/RateLimited"
          },
          "502": {
            "description": "RDAP provider returned an unreachable or invalid response",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": {
                "error": {
                  "code": "INVALID_DOMAIN",
                  "type": "authentication_error",
                  "message": "Invalid domain format",
                  "status": 1,
                  "retryable": true,
                  "request_id": "string",
                  "suggestion": "string",
                  "details": {},
                  "retry_after": 300,
                  "docs_url": "/docs#parameters"
                }
              }
            }
          },
          "503": {
            "description": "RDAP provider rate limited the request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": {
                "error": {
                  "code": "INVALID_DOMAIN",
                  "type": "authentication_error",
                  "message": "Invalid domain format",
                  "status": 1,
                  "retryable": true,
                  "request_id": "string",
                  "suggestion": "string",
                  "details": {},
                  "retry_after": 300,
                  "docs_url": "/docs#parameters"
                }
              }
            }
          }
        },
        "x-domscan-credits": {
          "model": "per_request",
          "default": 2
        }
      }
    },
    "/v1/health": {
      "get": {
        "tags": [
          "Domain Health"
        ],
        "summary": "Full domain health check",
        "description": "Comprehensive health analysis: DNS configuration, SSL certificates, email authentication records, security headers, and more. Accepts a subdomain (e.g. blog.example.com) as well as a registrable domain. Host-based checks run against the exact hostname, while registration and age data reflect the parent domain. Deprecated SMTP port probing is no longer performed.",
        "operationId": "getDomainHealth",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Domain or subdomain to analyze (e.g. example.com or blog.example.com)",
            "required": true,
            "type": "string",
            "x-example": "example.com"
          },
          {
            "name": "details",
            "in": "query",
            "description": "Include detailed breakdown",
            "required": false,
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "Health check results",
            "schema": {
              "$ref": "#/definitions/HealthResponse"
            },
            "examples": {
              "application/json": {
                "domain": "cloudflare.com",
                "health_score": 94,
                "grade": "A",
                "checks": {
                  "dns_configured": true,
                  "ssl_valid": true,
                  "email_deliverable": true,
                  "blacklist_status": "clean",
                  "age_years": 15,
                  "registration_stable": true,
                  "dnssec_enabled": true
                },
                "enriched": {
                  "tls": {
                    "grade": "A+",
                    "protocol": "TLSv1.3",
                    "cipher": "TLS_AES_256_GCM_SHA384",
                    "chain_valid": true,
                    "days_to_expiry": 72,
                    "hostname_match": true,
                    "ocsp_stapling": true,
                    "grade_reasons": [
                      "TLS 1.3 enabled",
                      "Valid certificate chain"
                    ]
                  },
                  "http_versions": {
                    "http1_1": true,
                    "http2": true,
                    "http3": true,
                    "alt_svc": "h3=\":443\"; ma=86400",
                    "http3_advertised": true,
                    "alt_svc_protocols": [
                      "h3"
                    ],
                    "curl_http3_supported": true,
                    "h2_alpn_accepted": "h2",
                    "h3_alpn_accepted": "h3"
                  },
                  "hsts": {
                    "reachable": true,
                    "final_url": "https://cloudflare.com/",
                    "status_code": 200,
                    "header_present": true,
                    "hsts_header": "max-age=31536000; includeSubDomains",
                    "max_age": 31536000,
                    "include_subdomains": true,
                    "preload_directive": false,
                    "preload_eligible": true,
                    "preload_status": "preloaded",
                    "preloaded_domain": "cloudflare.com",
                    "preload_bulk": false,
                    "issues": [
                      "missing preload directive"
                    ],
                    "errors": []
                  }
                },
                "warnings": [],
                "recommendations": [
                  "Publish the HSTS preload directive if you want preload-list eligibility."
                ],
                "checked_at": "2026-04-18T21:00:00Z",
                "details": {
                  "dns": {
                    "has_a_record": true,
                    "has_aaaa_record": true,
                    "has_nameservers": true,
                    "has_mx_record": true,
                    "nameservers": [
                      "ns3.cloudflare.com",
                      "ns5.cloudflare.com"
                    ],
                    "mx_records": [
                      "route1.mx.cloudflare.net"
                    ],
                    "a_records": [
                      "104.16.132.229",
                      "104.16.133.229"
                    ],
                    "aaaa_records": [
                      "2606:4700::6810:84e5",
                      "2606:4700::6810:85e5"
                    ]
                  },
                  "ssl": {
                    "https_works": true,
                    "certificate_valid": true,
                    "days_until_expiry": 72,
                    "issuer": "Google Trust Services"
                  },
                  "email": {
                    "has_mx": true,
                    "has_spf": true,
                    "has_dmarc": true,
                    "has_dkim_selector": true,
                    "spf_record": "v=spf1 include:_spf.google.com ~all",
                    "dmarc_policy": "reject",
                    "mx_hosts": [
                      "route1.mx.cloudflare.net"
                    ]
                  },
                  "security": {
                    "dnssec_enabled": true,
                    "has_caa_record": true,
                    "caa_issuers": [
                      "digicert.com",
                      "letsencrypt.org"
                    ],
                    "http_to_https_redirect": true,
                    "has_security_txt": true,
                    "security_txt_fields": [
                      "Contact",
                      "Expires",
                      "Preferred-Languages"
                    ],
                    "security_headers": {
                      "has_hsts": true,
                      "hsts_max_age": 31536000,
                      "has_csp": true,
                      "has_x_frame_options": true,
                      "has_x_content_type_options": true,
                      "has_referrer_policy": true,
                      "has_permissions_policy": true,
                      "score": 92
                    }
                  },
                  "age": {
                    "registration_date": "2010-07-06T00:00:00Z",
                    "expiration_date": "2030-07-06T00:00:00Z",
                    "last_updated": "2025-07-06T00:00:00Z",
                    "age_days": 5766,
                    "age_years": 15,
                    "days_until_expiry": 1540,
                    "registrar": "Cloudflare Registrar"
                  },
                  "blacklist": {
                    "clean": true,
                    "status": "clean",
                    "listed_on": [],
                    "checked_lists": [
                      "spamhaus",
                      "surbl"
                    ],
                    "domain_listed_on": [],
                    "ip_listed_on": [],
                    "check_type": "mixed"
                  }
                },
                "health_checks": [
                  {
                    "category": "dns",
                    "name": "Authoritative DNS records present",
                    "passed": true,
                    "score": 100,
                    "weight": 15
                  }
                ],
                "meta": {
                  "check_duration_ms": 248,
                  "served_by": "pop=MAD country=ES"
                }
              }
            }
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/responses/RateLimited"
          }
        },
        "x-domscan-credits": {
          "model": "per_request",
          "default": 3
        }
      }
    },
    "/v1/health/quick": {
      "get": {
        "tags": [
          "Domain Health"
        ],
        "summary": "Quick health check",
        "description": "Fast health check focusing on DNS resolution and SSL certificate status. Accepts a subdomain (e.g. blog.example.com) as well as a registrable domain.",
        "operationId": "getQuickHealth",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Domain or subdomain to check (e.g. example.com or blog.example.com)",
            "required": true,
            "type": "string",
            "x-example": "example.com"
          }
        ],
        "responses": {
          "200": {
            "description": "Quick health results",
            "schema": {
              "$ref": "#/definitions/QuickHealthResponse"
            },
            "examples": {
              "application/json": {
                "domain": "example.com",
                "dns_ok": true,
                "https_ok": true,
                "checked_at": "2026-04-18T21:00:00Z",
                "meta": {
                  "check_duration_ms": 89
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/responses/RateLimited"
          },
          "500": {
            "$ref": "#/responses/InternalError"
          }
        },
        "x-domscan-credits": {
          "model": "per_request",
          "default": 1
        }
      }
    },
    "/v1/health/bulk": {
      "post": {
        "tags": [
          "Domain Health"
        ],
        "summary": "Bulk health check",
        "description": "Check health of multiple domains at once. Use quick=true for faster results with basic DNS/SSL checks only.\n\n**Credits:** 3 credits per domain. Example: 10 domains = 30 credits.",
        "operationId": "bulkHealthCheck",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "domains"
              ],
              "properties": {
                "domains": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 1,
                  "maxItems": 10,
                  "description": "Array of domains or subdomains to check (max 10)",
                  "example": [
                    "example.com",
                    "google.com"
                  ]
                },
                "quick": {
                  "type": "boolean",
                  "default": false,
                  "description": "Use quick check mode (DNS + SSL only)"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bulk health results",
            "schema": {
              "$ref": "#/definitions/BulkHealthResponse"
            },
            "examples": {
              "application/json": {
                "results": [
                  {
                    "domain": "example.com",
                    "health_score": 1,
                    "grade": "string",
                    "checks": {},
                    "warnings": [
                      "string"
                    ],
                    "error": "string"
                  }
                ],
                "meta": {
                  "total": 1,
                  "successful": 1,
                  "check_duration_ms": 1
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/responses/RateLimited"
          }
        },
        "x-domscan-credits": {
          "model": "per_item",
          "default": 3
        }
      }
    },
    "/v1/value": {
      "get": {
        "tags": [
          "Domain Valuation"
        ],
        "summary": "Estimate domain value",
        "description": "Algorithmic intrinsic domain valuation based on length, effective public suffix tier, dictionary words, brandability, semantic segmentation, and market comparable buckets. Compound suffixes such as `co.uk` and `ind.br` are parsed as one suffix. Excludes website traffic, revenue, and business/company value.",
        "operationId": "getDomainValue",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Registrable domain to value. Compound public suffixes are supported; subdomains are rejected.",
            "required": true,
            "type": "string",
            "x-example": "empresa.ind.br"
          }
        ],
        "responses": {
          "200": {
            "description": "Valuation estimate",
            "schema": {
              "$ref": "#/definitions/ValuationResponse"
            },
            "examples": {
              "application/json": {
                "domain": "example.com",
                "label": "string",
                "tld": "com",
                "estimate": {
                  "low": 1,
                  "mid": 1,
                  "high": 1,
                  "currency": "USD"
                },
                "factors": {
                  "length": 1,
                  "lengthMultiplier": 1,
                  "tld": "com",
                  "tldTier": "premium",
                  "tldBase": 1,
                  "hasHyphens": true,
                  "hasNumbers": true,
                  "lettersOnly": true,
                  "isPremiumWord": true,
                  "isDictionaryWord": true,
                  "isBrandable": true,
                  "isNumericPattern": true,
                  "isLetterPattern": true,
                  "pronounceability": 1,
                  "memorability": 1,
                  "spellingDifficulty": 1,
                  "isAcronym": true,
                  "hasCommonEnding": true,
                  "syllableCount": 1
                },
                "comparables": [
                  {
                    "category": "string",
                    "typical_range": {
                      "low": 1,
                      "high": 1
                    },
                    "examples": [
                      "string"
                    ],
                    "relevance": 1
                  }
                ],
                "confidence": 1,
                "valuation_summary": {
                  "model_scope": "intrinsic_domain_value",
                  "confidence": 1,
                  "confidence_label": "low",
                  "range_source": "heuristic",
                  "range_width": "narrow",
                  "comparable_count": 1,
                  "primary_comparable_category": "string",
                  "primary_comparable_position": "lower",
                  "positive_driver_count": 1,
                  "negative_driver_count": 1,
                  "liquidity_band": "low",
                  "tld_tier": "premium",
                  "renewal_price_awareness": {
                    "uses_tld_base": true,
                    "tld_base_usd": 1,
                    "registrar_specific_prices_included": true
                  },
                  "risk_flags": [
                    "string"
                  ]
                },
                "analysis": {
                  "scope": "intrinsic_domain_value",
                  "excludes": [
                    "string"
                  ],
                  "range_source": "heuristic",
                  "range_width": "narrow",
                  "confidence_label": "low",
                  "primary_comparable_category": "string",
                  "primary_comparable_range": {
                    "low": 1,
                    "high": 1,
                    "position": "lower",
                    "relative_position": 1
                  },
                  "out_of_distribution": true,
                  "out_of_distribution_reasons": [
                    "string"
                  ],
                  "positive_factors": [
                    "string"
                  ],
                  "negative_factors": [
                    "string"
                  ]
                },
                "methodology": "string",
                "meta": {
                  "served_by": "string",
                  "disclaimer": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/responses/RateLimited"
          }
        },
        "x-domscan-credits": {
          "model": "per_request",
          "default": 2
        }
      }
    },
    "/v1/value/bulk": {
      "post": {
        "tags": [
          "Domain Valuation"
        ],
        "summary": "Bulk domain valuation",
        "description": "Valuate multiple domains at once (max 100) using the same intrinsic-domain logic as `/v1/value`.\n\n**Credits:** 2 credits per domain. Example: 10 domains = 20 credits.",
        "operationId": "bulkDomainValue",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "domains"
              ],
              "properties": {
                "domains": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "maxItems": 100
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bulk valuation results",
            "schema": {
              "$ref": "#/definitions/BulkValuationResponse"
            },
            "examples": {
              "application/json": {
                "results": [
                  {
                    "domain": "example.com",
                    "label": "string",
                    "tld": "com",
                    "estimate": {
                      "low": 1,
                      "mid": 1,
                      "high": 1,
                      "currency": "USD"
                    },
                    "factors": {
                      "length": 1,
                      "lengthMultiplier": 1,
                      "tld": "com",
                      "tldTier": "premium",
                      "tldBase": 1,
                      "hasHyphens": true,
                      "hasNumbers": true,
                      "lettersOnly": true,
                      "isPremiumWord": true,
                      "isDictionaryWord": true,
                      "isBrandable": true,
                      "isNumericPattern": true,
                      "isLetterPattern": true,
                      "pronounceability": 1,
                      "memorability": 1,
                      "spellingDifficulty": 1,
                      "isAcronym": true,
                      "hasCommonEnding": true,
                      "syllableCount": 1
                    },
                    "comparables": [
                      {
                        "category": "string",
                        "typical_range": {
                          "low": 1,
                          "high": 1
                        },
                        "examples": [
                          "string"
                        ],
                        "relevance": 1
                      }
                    ],
                    "confidence": 1,
                    "valuation_summary": {
                      "model_scope": "intrinsic_domain_value",
                      "confidence": 1,
                      "confidence_label": "low",
                      "range_source": "heuristic",
                      "range_width": "narrow",
                      "comparable_count": 1,
                      "primary_comparable_category": "string",
                      "primary_comparable_position": "lower",
                      "positive_driver_count": 1,
                      "negative_driver_count": 1,
                      "liquidity_band": "low",
                      "tld_tier": "premium",
                      "renewal_price_awareness": {
                        "uses_tld_base": true,
                        "tld_base_usd": 1,
                        "registrar_specific_prices_included": true
                      },
                      "risk_flags": [
                        "string"
                      ]
                    },
                    "analysis": {
                      "scope": "intrinsic_domain_value",
                      "excludes": [
                        "string"
                      ],
                      "range_source": "heuristic",
                      "range_width": "narrow",
                      "confidence_label": "low",
                      "primary_comparable_category": "string",
                      "primary_comparable_range": {
                        "low": 1,
                        "high": 1,
                        "position": "lower",
                        "relative_position": 1
                      },
                      "out_of_distribution": true,
                      "out_of_distribution_reasons": [
                        "string"
                      ],
                      "positive_factors": [
                        "string"
                      ],
                      "negative_factors": [
                        "string"
                      ]
                    },
                    "methodology": "string",
                    "meta": {
                      "served_by": "string",
                      "disclaimer": "string"
                    }
                  }
                ],
                "meta": {
                  "served_by": "string",
                  "total": 1,
                  "disclaimer": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/responses/RateLimited"
          }
        },
        "x-domscan-credits": {
          "model": "per_item",
          "default": 2
        }
      }
    },
    "/v1/typos": {
      "get": {
        "tags": [
          "Typosquatting"
        ],
        "summary": "Detect typosquatting threats",
        "description": "Generate typosquatting permutations using multiple techniques (character swap, missing char, extra char, homoglyphs, etc.) and optionally check which are registered. Includes risk scoring based on similarity to original domain.",
        "operationId": "getTyposquatting",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Domain to analyze for typosquatting risks",
            "required": true,
            "type": "string",
            "x-example": "google.com"
          },
          {
            "name": "check_registered",
            "in": "query",
            "description": "Check if generated typos are actually registered. Disabled by default and capped for faster responses.",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum permutations to generate and check",
            "required": false,
            "type": "integer",
            "default": 100,
            "minimum": 10,
            "maximum": 500
          },
          {
            "name": "include_tld_swap",
            "in": "query",
            "description": "Include TLD variation permutations (e.g., .co instead of .com)",
            "required": false,
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "Typosquatting analysis with risk summary",
            "schema": {
              "$ref": "#/definitions/TyposResponse"
            },
            "examples": {
              "application/json": {
                "domain": "google.com",
                "name": "google",
                "tld": "com",
                "permutations_generated": 100,
                "permutations_checked": 95,
                "registered_typos": [
                  {
                    "domain": "gooogle.com",
                    "type": "extra_char",
                    "risk": "high",
                    "registered": true
                  },
                  {
                    "domain": "goggle.com",
                    "type": "char_swap",
                    "risk": "critical",
                    "registered": true
                  }
                ],
                "available_typos": 50,
                "risk_summary": {
                  "critical": 2,
                  "high": 5,
                  "medium": 10,
                  "low": 28
                },
                "threat_level": "high",
                "checked_at": "2024-01-15T12:00:00Z"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/responses/RateLimited"
          }
        },
        "x-domscan-credits": {
          "model": "per_request",
          "default": 2,
          "variants": [
            {
              "parameter": "check_registered",
              "equals": true,
              "credits": 3
            }
          ],
          "note": "2 credits by default; 3 credits when check_registered=true."
        }
      }
    },
    "/v1/typos/threats": {
      "get": {
        "tags": [
          "Typosquatting"
        ],
        "summary": "Run a live typosquatting threat scan",
        "description": "Generate up to the requested number of typo variants, then check at most 75 supported variants for live registration and DNS activity. scan_summary reports the live-check limit and whether coverage was truncated.",
        "operationId": "analyzeTyposquattingThreats",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Domain to analyze",
            "required": true,
            "type": "string",
            "x-example": "example.com"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum variants to generate. Live registration checks are capped at 75.",
            "required": false,
            "type": "integer",
            "default": 200,
            "minimum": 50,
            "maximum": 500
          },
          {
            "name": "include_tld_swap",
            "in": "query",
            "description": "Include alternate-TLD variants",
            "required": false,
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "Live typosquatting threat analysis",
            "schema": {
              "$ref": "#/definitions/TyposThreatAnalysisResponse"
            },
            "examples": {
              "application/json": {
                "domain": "example.com",
                "name": "string",
                "tld": "com",
                "scan_summary": {
                  "permutations_generated": 1,
                  "permutations_checked": 1,
                  "permutations_submitted": 1,
                  "definitive_results": 1,
                  "unknown_results": 1,
                  "omitted_results": 1,
                  "registered_count": 1,
                  "active_threats": 1,
                  "available_for_defensive": 1,
                  "check_limit": 1,
                  "coverage_truncated": true
                },
                "threat_level": "none",
                "protection_score": {},
                "threats": [
                  {
                    "domain": "example.com",
                    "type": "string",
                    "risk": "critical",
                    "description": "198.51.100.10",
                    "dns_active": true,
                    "has_website": true,
                    "has_mx": true,
                    "infrastructure": {},
                    "threat_indicators": [
                      "string"
                    ],
                    "threat_score": 1
                  }
                ],
                "defensive_opportunities": [
                  {
                    "domain": "example.com",
                    "type": "string",
                    "risk": "critical",
                    "registered": true,
                    "checked_at": "2026-04-18T21:00:00Z"
                  }
                ],
                "risk_breakdown": {},
                "recommendations": [
                  "string"
                ],
                "checked_at": "2026-04-18T21:00:00Z",
                "scan_duration_ms": 1,
                "meta": {}
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Threat analysis failed"
          }
        },
        "x-domscan-credits": {
          "model": "per_request",
          "default": 12
        }
      }
    },
    "/v1/typos/report": {
      "get": {
        "tags": [
          "Typosquatting"
        ],
        "summary": "Generate a brand protection report",
        "description": "Generate up to 300 variants, live-check at most 60 supported variants, and return an executive summary, coverage metadata, defensive registration priorities, and monitoring recommendations.",
        "operationId": "generateTyposquattingReport",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Domain to analyze",
            "required": true,
            "type": "string",
            "x-example": "example.com"
          }
        ],
        "responses": {
          "200": {
            "description": "Brand protection report",
            "schema": {
              "$ref": "#/definitions/BrandProtectionReportResponse"
            },
            "examples": {
              "application/json": {
                "domain": "example.com",
                "generated_at": "2026-04-18T21:00:00Z",
                "executive_summary": {
                  "threat_level": "string",
                  "protection_grade": "string",
                  "active_threats": 1,
                  "registered_typos": 1,
                  "immediate_action_required": true
                },
                "threat_analysis": {
                  "domain": "example.com",
                  "name": "string",
                  "tld": "com",
                  "scan_summary": {
                    "permutations_generated": 1,
                    "permutations_checked": 1,
                    "permutations_submitted": 1,
                    "definitive_results": 1,
                    "unknown_results": 1,
                    "omitted_results": 1,
                    "registered_count": 1,
                    "active_threats": 1,
                    "available_for_defensive": 1,
                    "check_limit": 1,
                    "coverage_truncated": true
                  },
                  "threat_level": "none",
                  "protection_score": {},
                  "threats": [
                    {
                      "domain": "example.com",
                      "type": "string",
                      "risk": "critical",
                      "description": "198.51.100.10",
                      "dns_active": true,
                      "has_website": true,
                      "has_mx": true,
                      "infrastructure": {},
                      "threat_indicators": [
                        "string"
                      ],
                      "threat_score": 1
                    }
                  ],
                  "defensive_opportunities": [
                    {
                      "domain": "example.com",
                      "type": "string",
                      "risk": "critical",
                      "registered": true,
                      "checked_at": "2026-04-18T21:00:00Z"
                    }
                  ],
                  "risk_breakdown": {},
                  "recommendations": [
                    "string"
                  ],
                  "checked_at": "2026-04-18T21:00:00Z",
                  "scan_duration_ms": 1,
                  "meta": {}
                },
                "defensive_registration_priority": {},
                "monitoring_recommendations": [
                  "string"
                ],
                "estimated_risk_exposure": "minimal",
                "meta": {}
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Report generation failed"
          }
        },
        "x-domscan-credits": {
          "model": "per_request",
          "default": 18
        }
      }
    },
    "/v1/typos/quick": {
      "get": {
        "tags": [
          "Typosquatting"
        ],
        "summary": "Find registered typo domains quickly",
        "description": "Check a smaller typo set and return only registered variants with their permutation type and risk level.",
        "operationId": "quickTyposquattingCheck",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Domain to analyze",
            "required": true,
            "type": "string",
            "x-example": "example.com"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum variants to check",
            "required": false,
            "type": "integer",
            "default": 100,
            "minimum": 20,
            "maximum": 200
          }
        ],
        "responses": {
          "200": {
            "description": "Registered typo domains",
            "schema": {
              "$ref": "#/definitions/QuickTyposResponse"
            },
            "examples": {
              "application/json": {
                "domain": "example.com",
                "registered_typos": [
                  {
                    "domain": "example.com",
                    "type": "string",
                    "risk": "critical",
                    "description": "198.51.100.10"
                  }
                ],
                "count": 1,
                "threat_level": "none",
                "coverage": {
                  "requested": 1,
                  "definitive": 1,
                  "unknown": 1,
                  "omitted": 1
                },
                "checked_at": "2026-04-18T21:00:00Z",
                "scan_duration_ms": 1,
                "meta": {}
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Quick threat check failed"
          }
        },
        "x-domscan-credits": {
          "model": "per_request",
          "default": 6
        }
      }
    },
    "/v1/typos/permutations": {
      "get": {
        "tags": [
          "Typosquatting"
        ],
        "summary": "Generate typo permutations",
        "description": "Generate typosquatting permutations without checking registration status. Faster endpoint for generating variations only, useful for proactive brand protection planning.",
        "operationId": "getTypoPermutations",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Domain to generate permutations for",
            "required": true,
            "type": "string",
            "x-example": "example.com"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum permutations to generate",
            "required": false,
            "type": "integer",
            "default": 200,
            "minimum": 10,
            "maximum": 1000
          },
          {
            "name": "include_tld_swap",
            "in": "query",
            "description": "Include TLD variation permutations",
            "required": false,
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "Generated permutations grouped by type",
            "schema": {
              "$ref": "#/definitions/PermutationsResponse"
            },
            "examples": {
              "application/json": {
                "domain": "example.com",
                "name": "string",
                "tld": "com",
                "permutations_count": 1,
                "permutations": [
                  {
                    "domain": "example.com",
                    "type": "string",
                    "risk": "critical",
                    "registered": true,
                    "checked_at": "2026-04-18T21:00:00Z"
                  }
                ],
                "by_type": {},
                "family_summary": {
                  "generated_by_type": {},
                  "generated_by_risk": {},
                  "registered_by_type": {},
                  "registered_by_risk": {},
                  "top_generated_family": "string",
                  "top_registered_family": "string",
                  "critical_or_high_generated_count": 1,
                  "critical_or_high_registered_count": 1,
                  "coverage_ratio": 1,
                  "checked_count": 1,
                  "available_count": 1,
                  "unknown_count": 1,
                  "omitted_count": 1,
                  "include_tld_swap": true,
                  "requested_limit": 1
                },
                "meta": {
                  "generation_ms": 1
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/responses/RateLimited"
          }
        },
        "x-domscan-credits": {
          "model": "per_request",
          "default": 1
        }
      }
    },
    "/v1/typos/score": {
      "get": {
        "tags": [
          "Typosquatting"
        ],
        "summary": "Calculate protection score",
        "description": "Calculate a typosquatting protection score for a domain. Shows how vulnerable the domain is based on name characteristics and optionally factors in registered typos.",
        "operationId": "getProtectionScore",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Domain to score",
            "required": true,
            "type": "string",
            "x-example": "example.com"
          },
          {
            "name": "check_registered",
            "in": "query",
            "description": "Factor in registered typos when calculating score (slower)",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Protection score analysis",
            "schema": {
              "$ref": "#/definitions/ProtectionScoreResponse"
            },
            "examples": {
              "application/json": {
                "domain": "example.com",
                "name": "example",
                "tld": "com",
                "protection": {
                  "score": 65,
                  "grade": "C",
                  "factors": {
                    "length_score": 70,
                    "uniqueness_score": 60,
                    "keyboard_proximity_score": 55
                  },
                  "recommendations": [
                    "Consider registering common typo variations",
                    "Monitor for homoglyph attacks"
                  ]
                },
                "checked_at": "2024-01-15T12:00:00Z"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/responses/RateLimited"
          }
        },
        "x-domscan-credits": {
          "model": "per_request",
          "default": 1
        }
      }
    },
    "/v1/dns": {
      "get": {
        "tags": [
          "DNS"
        ],
        "summary": "DNS record lookup",
        "description": "Query specific DNS record types for a domain. Returns records with TTL, DNSSEC validation status, semantic TXT classification, additive warnings, and query timing.",
        "operationId": "getDnsRecords",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Domain to query DNS records for",
            "required": true,
            "type": "string",
            "x-example": "example.com"
          },
          {
            "name": "type",
            "in": "query",
            "description": "DNS record type to query",
            "required": false,
            "type": "string",
            "enum": [
              "A",
              "AAAA",
              "MX",
              "NS",
              "TXT",
              "SOA",
              "CNAME",
              "CAA",
              "PTR",
              "SRV"
            ],
            "default": "A"
          }
        ],
        "responses": {
          "200": {
            "description": "DNS records for the specified type",
            "schema": {
              "$ref": "#/definitions/DnsResponse"
            },
            "examples": {
              "application/json": {
                "domain": "google.com",
                "record_type": "TXT",
                "records": [
                  {
                    "type": "TXT",
                    "name": "google.com",
                    "data": "v=spf1 include:_spf.google.com ~all",
                    "ttl": 300,
                    "classification": "spf"
                  },
                  {
                    "type": "TXT",
                    "name": "google.com",
                    "data": "google-site-verification=abc123",
                    "ttl": 300,
                    "classification": "verification"
                  }
                ],
                "status": "success",
                "dnssec_validated": false,
                "query_time_ms": 37,
                "checked_at": "2026-04-18T21:00:00Z",
                "warnings": [
                  {
                    "code": "TXT_MULTIPLE_RESPONSES",
                    "message": "Domain publishes multiple TXT records; use classification to isolate the security ones.",
                    "severity": "info"
                  }
                ],
                "meta": {
                  "served_by": "pop=unknown country=unknown"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/responses/RateLimited"
          }
        },
        "x-domscan-credits": {
          "model": "per_request",
          "default": 1
        }
      }
    },
    "/v1/dns/bulk": {
      "post": {
        "tags": [
          "DNS"
        ],
        "summary": "Bulk DNS record lookup",
        "description": "Query one DNS record type across multiple domains in a single request.\n\n**Credits:** 1 credit per domain. Max 25 domains per request.",
        "operationId": "bulkDnsLookup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "domains"
              ],
              "properties": {
                "domains": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 1,
                  "maxItems": 25,
                  "description": "Array of domains to query",
                  "example": [
                    "example.com",
                    "cloudflare.com"
                  ]
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "A",
                    "AAAA",
                    "NS",
                    "MX",
                    "TXT",
                    "CAA",
                    "SOA",
                    "CNAME",
                    "PTR",
                    "SRV",
                    "HTTPS",
                    "SVCB"
                  ],
                  "default": "A",
                  "description": "DNS record type to query for every domain"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bulk DNS lookup results",
            "schema": {
              "$ref": "#/definitions/BulkDnsResponse"
            },
            "examples": {
              "application/json": {
                "results": [
                  {
                    "domain": "example.com",
                    "record_type": "A",
                    "records": [
                      {
                        "type": "A",
                        "name": "example.com",
                        "data": "93.184.216.34",
                        "ttl": 300
                      }
                    ],
                    "status": "success",
                    "dnssec_validated": true,
                    "query_time_ms": 22,
                    "checked_at": "2024-01-15T12:00:00Z"
                  },
                  {
                    "domain": "missing.invalid",
                    "record_type": "A",
                    "records": [],
                    "status": "error",
                    "dnssec_validated": false,
                    "query_time_ms": 0,
                    "checked_at": "2024-01-15T12:00:00Z",
                    "error": {
                      "code": "INVALID_DOMAIN",
                      "message": "Invalid domain format"
                    }
                  }
                ],
                "summary": {
                  "total": 2,
                  "successful": 1,
                  "nxdomain": 0,
                  "errors": 1,
                  "query_time_ms": 31
                },
                "meta": {
                  "served_by": "pop=MAD country=ES",
                  "record_type": "A"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/responses/RateLimited"
          }
        },
        "x-domscan-credits": {
          "model": "per_item",
          "default": 1
        }
      }
    },
    "/v1/dns/all": {
      "get": {
        "tags": [
          "DNS"
        ],
        "summary": "Get all DNS records",
        "description": "Query all common DNS record types (A, AAAA, NS, MX, TXT, CAA, SOA, HTTPS, SVCB) in parallel. Returns a comprehensive view of domain DNS configuration plus optional additive signals (IPv6 parity, MX priority sanity, private-IP leaks, TXT classification, wildcard probe).",
        "operationId": "getAllDnsRecords",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Domain to query",
            "required": true,
            "type": "string",
            "x-example": "example.com"
          },
          {
            "name": "wildcard_probe",
            "in": "query",
            "description": "When set to 1, perform a random-label probe to detect wildcard DNS. Adds one extra DoH lookup.",
            "required": false,
            "type": "string",
            "enum": [
              "1"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "All DNS records grouped by type",
            "schema": {
              "$ref": "#/definitions/DnsAllResponse"
            },
            "examples": {
              "application/json": {
                "domain": "openai.com",
                "records": {
                  "A": [
                    {
                      "type": "A",
                      "name": "openai.com",
                      "data": "104.18.33.45",
                      "ttl": 300
                    }
                  ],
                  "AAAA": [
                    {
                      "type": "AAAA",
                      "name": "openai.com",
                      "data": "2606:4700::6812:212d",
                      "ttl": 300
                    }
                  ],
                  "MX": [
                    {
                      "type": "MX",
                      "name": "openai.com",
                      "data": "aspmx.l.google.com",
                      "ttl": 300,
                      "priority": 1
                    }
                  ],
                  "NS": [
                    {
                      "type": "NS",
                      "name": "openai.com",
                      "data": "ns1-02.azure-dns.com",
                      "ttl": 172800
                    },
                    {
                      "type": "NS",
                      "name": "openai.com",
                      "data": "ns2-02.azure-dns.net",
                      "ttl": 172800
                    }
                  ],
                  "TXT": [
                    {
                      "type": "TXT",
                      "name": "openai.com",
                      "data": "v=spf1 include:_spf.google.com ~all",
                      "ttl": 300,
                      "classification": "spf"
                    },
                    {
                      "type": "TXT",
                      "name": "openai.com",
                      "data": "v=TLSRPTv1; rua=mailto:tlsrpt@openai.com",
                      "ttl": 300,
                      "classification": "tls_rpt"
                    }
                  ]
                },
                "summary": {
                  "has_a": true,
                  "has_aaaa": true,
                  "has_ns": true,
                  "has_mx": true,
                  "has_txt": true,
                  "has_https": false,
                  "has_svcb": false,
                  "ipv6_parity": "full"
                },
                "warnings": [
                  {
                    "code": "MX_PRIORITY_SHARED",
                    "message": "Multiple MX hosts share the same priority.",
                    "severity": "info"
                  }
                ],
                "wildcard": {
                  "suspected": false,
                  "probe_label": "_domscan-probe-4f6a2c.openai.com"
                },
                "query_time_ms": 82,
                "checked_at": "2026-04-18T21:00:00Z"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/responses/RateLimited"
          }
        },
        "x-domscan-credits": {
          "model": "per_request",
          "default": 2
        }
      }
    },
    "/v1/dns/security": {
      "get": {
        "tags": [
          "DNS"
        ],
        "summary": "DNS security analysis",
        "description": "Comprehensive DNS security analysis including DNSSEC validation, CAA, SPF/DKIM/DMARC, MTA-STS and TLS-RPT policy inspection, cross-resolver latency, and AXFR exposure checks.",
        "operationId": "getDnsSecurity",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Domain to analyze",
            "required": true,
            "type": "string",
            "x-example": "example.com"
          }
        ],
        "responses": {
          "200": {
            "description": "DNS security analysis results",
            "schema": {
              "$ref": "#/definitions/DnsSecurityResponse"
            },
            "examples": {
              "application/json": {
                "domain": "google.com",
                "security_score": 97,
                "security_grade": "A+",
                "spf": {
                  "exists": true,
                  "record": "v=spf1 include:_spf.google.com ~all",
                  "valid": true,
                  "policy": "softfail",
                  "includes": [
                    "_spf.google.com"
                  ],
                  "dns_lookup_count": 1,
                  "dns_lookup_limit_exceeded": false,
                  "include_tree": [
                    {
                      "domain": "_spf.google.com",
                      "lookups": 1
                    }
                  ],
                  "lookup_walk_count": 1,
                  "macros_present": false,
                  "macro_references": [],
                  "walk": [
                    {
                      "domain": "google.com",
                      "depth": 0,
                      "record": "v=spf1 include:_spf.google.com ~all",
                      "mechanisms": [
                        "include:_spf.google.com",
                        "~all"
                      ],
                      "includes": [
                        "_spf.google.com"
                      ],
                      "redirect": null,
                      "direct_lookup_count": 1,
                      "total_lookup_count": 1,
                      "macros_present": false,
                      "macro_references": [],
                      "multiple_records": 1
                    }
                  ],
                  "walk_errors": [],
                  "issues": []
                },
                "dkim": {
                  "exists": true,
                  "selectors_checked": [
                    "google",
                    "selector1",
                    "selector2"
                  ],
                  "selectors_found": [
                    "google"
                  ],
                  "valid": true
                },
                "dmarc": {
                  "exists": true,
                  "record": "v=DMARC1; p=reject; rua=mailto:mailauth-reports@google.com",
                  "valid": true,
                  "policy": "reject",
                  "subdomain_policy": "reject",
                  "percentage": 100,
                  "rua": [
                    "mailto:mailauth-reports@google.com"
                  ],
                  "ruf": [],
                  "issues": []
                },
                "bimi": {
                  "exists": true,
                  "record": "v=BIMI1; l=https://example.com/logo.svg; a=https://example.com/vmc.pem",
                  "logo_url": "https://example.com/logo.svg",
                  "authority_url": "https://example.com/vmc.pem",
                  "valid": true,
                  "logo_fetch_ok": true,
                  "logo_http_status": 200,
                  "logo_content_type": "image/svg+xml",
                  "logo_bytes": 2048,
                  "logo_svg_detected": true,
                  "vmc_present": true,
                  "vmc_fetched": true,
                  "vmc_http_status": 200,
                  "vmc_content_type": "application/x-pem-file",
                  "vmc_certificate_valid": true,
                  "vmc_subject": "/CN=Example Inc VMC",
                  "vmc_issuer": "/CN=Example Issuer",
                  "vmc_not_before": "2026-01-01T00:00:00Z",
                  "vmc_not_after": "2027-01-01T00:00:00Z",
                  "vmc_days_to_expiry": 258,
                  "vmc_fingerprint_sha256": "AA:BB:CC:DD",
                  "vmc_san_domains": [
                    "google.com"
                  ],
                  "errors": []
                },
                "dnssec": {
                  "enabled": true,
                  "valid": true,
                  "algorithm": "ECDSAP256SHA256",
                  "key_tag": 12345,
                  "validation_status": "secure",
                  "validated_by_proxy": true,
                  "validation_reason": "chain validated via delv",
                  "ds_records": [
                    "12345 13 2 1a2b3c4d5e6f"
                  ],
                  "dnskey_records": [
                    "256 3 13 AbCdEfGhIjKlMnOp"
                  ],
                  "rrsig_present": true,
                  "resolver": "127.0.0.1",
                  "mismatch_detail": {
                    "checked": true,
                    "mismatch_detected": false,
                    "reason": "chain validated via delv",
                    "ds_record_count": 1,
                    "dnskey_record_count": 1,
                    "rrsig_present": true,
                    "validation_status": "secure",
                    "resolver": "127.0.0.1"
                  }
                },
                "caa": {
                  "exists": true,
                  "records": [
                    {
                      "flags": 0,
                      "tag": "issue",
                      "value": "pki.goog"
                    }
                  ],
                  "issuers": [
                    "pki.goog"
                  ],
                  "issue_wild": [],
                  "iodef": "mailto:security@google.com"
                },
                "issuance_readiness": {
                  "caa": {
                    "exists": true,
                    "records": [
                      {
                        "flags": 0,
                        "tag": "issue",
                        "value": "pki.goog"
                      },
                      {
                        "flags": 0,
                        "tag": "iodef",
                        "value": "mailto:security@google.com"
                      }
                    ],
                    "issue_issuers": [
                      "pki.goog"
                    ],
                    "issuewild_issuers": [],
                    "iodef": "mailto:security@google.com",
                    "letsencrypt_allowed": false,
                    "google_trust_services_allowed": true
                  },
                  "http01": {
                    "challenge_path": "/.well-known/acme-challenge/domscan-probe-1713474000",
                    "reachable": true,
                    "ready": true,
                    "status_code": 404,
                    "final_url": "http://google.com/.well-known/acme-challenge/domscan-probe-1713474000",
                    "redirects": 0,
                    "error": null
                  },
                  "checked_at": "2026-04-18T21:00:00Z"
                },
                "authoritative_consistency": {
                  "record_type": "SOA",
                  "all_authoritative": true,
                  "answer_sets_match": true,
                  "inconsistent_nameservers": [],
                  "consistent_serial": true,
                  "serials": [
                    {
                      "host": "ns1.google.com",
                      "udp_soa_serial": "2026041801",
                      "tcp_soa_serial": "2026041801"
                    }
                  ],
                  "reference_answers": [
                    "google.com. 60 IN SOA ns1.google.com. dns-admin.google.com. 2026041801 900 900 1800 60"
                  ]
                },
                "delegation_health": {
                  "nameservers": [
                    {
                      "host": "ns1.google.com",
                      "addresses": [
                        "216.239.32.10"
                      ],
                      "in_bailiwick": false,
                      "glue_required": false,
                      "udp": {
                        "authoritative": true,
                        "status": "NOERROR",
                        "query_ms": 14,
                        "answer_count": 1,
                        "answers": [
                          "google.com. 60 IN SOA ns1.google.com. dns-admin.google.com. 2026041801 900 900 1800 60"
                        ],
                        "soa_serial": "2026041801",
                        "truncated": false,
                        "error": null
                      },
                      "tcp": {
                        "authoritative": true,
                        "status": "NOERROR",
                        "query_ms": 18,
                        "answer_count": 1,
                        "answers": [
                          "google.com. 60 IN SOA ns1.google.com. dns-admin.google.com. 2026041801 900 900 1800 60"
                        ],
                        "soa_serial": "2026041801",
                        "truncated": false,
                        "error": null
                      },
                      "lame": false,
                      "issues": []
                    }
                  ],
                  "in_bailiwick_nameservers": [],
                  "glue_required_count": 0,
                  "all_in_bailiwick_resolve": true,
                  "missing_addresses": [],
                  "lame_nameservers": []
                },
                "dns_transport": {
                  "udp_working": true,
                  "tcp_working": true,
                  "tcp_supported_nameservers": [
                    "ns1.google.com"
                  ],
                  "tcp_failed_nameservers": [],
                  "truncation_tested": true,
                  "truncation_nameserver": "ns1.google.com",
                  "truncation_record_type": "DNSKEY",
                  "truncation_observed": false,
                  "tcp_fallback_ready": null
                },
                "nameserver_drift": {
                  "checked": true,
                  "drift_detected": false,
                  "public_nameservers": [
                    "ns1.google.com"
                  ],
                  "authoritative_nameservers": [
                    "ns1.google.com"
                  ],
                  "missing_from_authority": [],
                  "extra_at_authority": [],
                  "inconsistent_nameservers": [],
                  "serial_mismatch_detected": false
                },
                "mta_sts": {
                  "exists": true,
                  "record": "v=STSv1; id=2024010101Z",
                  "valid": true,
                  "policy_id": "2024010101Z",
                  "policy_fetch_ok": true,
                  "policy_http_status": 200,
                  "mode": "enforce",
                  "max_age": 86400,
                  "mx_hosts": [
                    "*.google.com"
                  ],
                  "mx_records": [
                    "aspmx.l.google.com",
                    "alt1.aspmx.l.google.com"
                  ],
                  "policy_matches_mx": true,
                  "uncovered_mx": [],
                  "errors": []
                },
                "tls_rpt": {
                  "exists": true,
                  "record": "v=TLSRPTv1; rua=mailto:sts-reports@google.com",
                  "valid": true,
                  "rua": [
                    "mailto:sts-reports@google.com"
                  ],
                  "errors": []
                },
                "resolver_latency": {
                  "record_type": "MX",
                  "resolvers": [
                    {
                      "resolver": "1.1.1.1",
                      "label": "Cloudflare",
                      "query_ms": 22,
                      "status": "NOERROR",
                      "answer_count": 5,
                      "answers": [
                        "aspmx.l.google.com"
                      ],
                      "server": "1.1.1.1#53",
                      "error": null
                    },
                    {
                      "resolver": "8.8.8.8",
                      "label": "Google Public DNS",
                      "query_ms": 3,
                      "status": "NOERROR",
                      "answer_count": 5,
                      "answers": [
                        "aspmx.l.google.com"
                      ],
                      "server": "8.8.8.8#53",
                      "error": null
                    }
                  ],
                  "min_ms": 3,
                  "max_ms": 22,
                  "avg_ms": 12.5
                },
                "zone_transfer": {
                  "exposed": false,
                  "nameservers": [
                    {
                      "host": "ns1.google.com",
                      "exposed": false,
                      "query_ms": 18,
                      "records_returned": 0,
                      "soa_seen": false,
                      "reason": "transfer failed",
                      "sample_records": []
                    }
                  ]
                },
                "blacklist": {
                  "domain": "google.com",
                  "listed": false,
                  "threat_level": "none",
                  "check_type": "domain",
                  "checked_at": "2026-04-18T21:00:00Z"
                },
                "edge_summary": {
                  "relay_configured": true,
                  "evidence_sources": [
                    "dnssec_validate",
                    "axfr_check",
                    "dns_authority_health",
                    "dns_latency",
                    "issuance_readiness",
                    "mail_policies",
                    "bimi_audit",
                    "spf_walk"
                  ],
                  "secure_dns_chain": true,
                  "zone_transfer_exposed": false,
                  "authoritative_consistency_ok": true,
                  "nameserver_drift_detected": false,
                  "lame_nameserver_count": 0,
                  "tcp_fallback_ready": null,
                  "avg_resolver_latency_ms": 12.5,
                  "fastest_resolver": "Google Public DNS",
                  "slowest_resolver": "Cloudflare",
                  "issuance_http01_ready": true,
                  "caa_restricts_issuers": true,
                  "bimi_vmc_valid": true,
                  "mta_sts_enforced": true,
                  "tls_rpt_configured": true,
                  "spf_lookup_limit_exceeded": false
                },
                "recommendations": [],
                "checked_at": "2026-04-18T21:00:00Z",
                "check_duration_ms": 312
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/responses/RateLimited"
          }
        },
        "x-domscan-credits": {
          "model": "per_request",
          "default": 3
        }
      }
    },
    "/v1/dns/propagation": {
      "get": {
        "tags": [
          "DNS"
        ],
        "summary": "Compare public recursive resolver answers",
        "description": "Compare answers from DomScan's configured public recursive resolvers. Without expected, propagation_percentage is the share represented by the largest identical-answer cohort. With expected, it is the share whose answer matches the expected value. This is not a geographic or worldwide propagation measurement.",
        "operationId": "getDnsPropagation",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Domain whose recursive-resolver answers should be compared",
            "required": true,
            "type": "string",
            "x-example": "example.com"
          },
          {
            "name": "type",
            "in": "query",
            "description": "DNS record type to check",
            "required": false,
            "type": "string",
            "enum": [
              "A",
              "AAAA",
              "CNAME",
              "MX",
              "TXT",
              "NS",
              "SOA"
            ],
            "default": "A"
          },
          {
            "name": "expected",
            "in": "query",
            "description": "Optional exact value to match after DNS-type normalization. When supplied, propagation_percentage measures expected-value matches instead of resolver convergence.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Comparison across the configured public recursive resolvers",
            "schema": {
              "$ref": "#/definitions/DnsPropagationResponse"
            },
            "examples": {
              "application/json": {
                "domain": "example.com",
                "record_type": "A",
                "expected_value": "string",
                "measurement_scope": "configured_recursive_resolvers",
                "percentage_basis": "expected_value_match",
                "propagation_percentage": 1,
                "fully_propagated": true,
                "consistent": true,
                "unique_values": [
                  "string"
                ],
                "results": [
                  {
                    "server": {
                      "name": "string",
                      "ip": "198.51.100.10",
                      "provider": "string",
                      "location": "Global anycast",
                      "country": "GLOBAL",
                      "scope": "global-anycast",
                      "doh_endpoint": "https://example.com",
                      "documentation_url": "https://example.com",
                      "format": "dns-json"
                    },
                    "success": true,
                    "records": [
                      "string"
                    ],
                    "ttl": 1,
                    "response_time_ms": 1,
                    "error": "string"
                  }
                ],
                "checked_at": "2026-04-18T21:00:00Z",
                "total_duration_ms": 1,
                "summary": {
                  "total_servers": 1,
                  "successful": 1,
                  "failed": 1,
                  "matching_expected": 1
                },
                "propagation_summary": {
                  "measurement_scope": "configured_recursive_resolvers",
                  "percentage_basis": "expected_value_match",
                  "resolver_count": 1,
                  "successful_count": 1,
                  "failed_count": 1,
                  "propagation_percentage": 1,
                  "fully_propagated": true,
                  "consistent": true,
                  "unique_value_count": 1,
                  "matching_expected_count": 1,
                  "expected_value_present": true,
                  "countries_checked": 1,
                  "providers_checked": 1,
                  "locations_checked": 1,
                  "slowest_resolver": "string",
                  "slowest_response_ms": 1,
                  "fastest_response_ms": 1,
                  "disagreement_count": 1,
                  "confidence": "high"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/responses/RateLimited"
          }
        },
        "x-domscan-credits": {
          "model": "per_request",
          "default": 2
        }
      }
    },
    "/v1/dns/propagation/bulk": {
      "post": {
        "tags": [
          "DNS"
        ],
        "summary": "Compare resolver answers for multiple domains",
[...]
