openapi: 3.2.0
info:
  title: DomScan OSINT API
  description: DomScan is a domain intelligence API providing domain analysis tools.
  version: 2.15.0
  contact:
    name: DomScan Support
    url: https://domscan.net
    email: support@domscan.net
  termsOfService: https://domscan.net/legal/terms
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://domscan.net
  description: Production server
security:
- apiKey: []
tags:
- name: OSINT
  description: Open source intelligence tools for domain analysis
paths:
  /v1/subdomains/bulk:
    post:
      operationId: bulkGetSubdomains
      summary: Discover subdomains for multiple domains
      description: Run the best-effort passive hostname evidence pipeline for multiple root domains. Discovery coverage is incomplete and result entries retain source labels. Accepts up to 10 items, preserves input order, and uses bounded concurrency. The outer response is HTTP 200 when the batch is accepted, so inspect each result for data or an error. Billing is 4 credits per validated item by default, or 5 credits per item when verify=true, with no bulk discount. Items that return a per-item lookup error are still billed.
      tags:
      - OSINT
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - domains
              properties:
                domains:
                  type: array
                  minItems: 1
                  maxItems: 10
                  items:
                    type: string
                    format: hostname
                verify:
                  type: boolean
                  default: false
                include_wildcards:
                  type: boolean
                  default: false
                limit:
                  type: integer
                  minimum: 1
                  maximum: 2000
                  default: 500
            example:
              domains:
              - example.com
              - cloudflare.com
              verify: false
              limit: 500
      responses:
        '200':
          description: Batch accepted. Each ordered result contains either data or a per-item error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkLookupResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-domscan-credits:
        model: per_item
        default: 4
        variants:
        - parameter: verify
          equals: true
          credits: 5
        note: 4 credits per item by default; 5 credits per item when verify=true.
  /v1/rdap/bulk:
    post:
      operationId: bulkGetRdap
      summary: Run multiple raw RDAP lookups
      description: Get raw RDAP data for a homogeneous batch of domains, IP addresses, CIDR ranges, or autonomous system numbers. One type applies to the entire batch. Accepts up to 10 items, preserves input order, and uses bounded concurrency. The outer response is HTTP 200 when the batch is accepted, so inspect each result for data or an error. Billing is 2 credits per validated item with no bulk discount, including items that return a per-item lookup error.
      tags:
      - OSINT
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - queries
              properties:
                queries:
                  type: array
                  minItems: 1
                  maxItems: 10
                  items:
                    type: string
                type:
                  type: string
                  enum:
                  - domain
                  - ip
                  - autnum
                  default: domain
            example:
              queries:
              - example.com
              - cloudflare.com
              type: domain
      responses:
        '200':
          description: Batch accepted. Each ordered result contains either data or a per-item error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkLookupResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-domscan-credits:
        model: per_item
        default: 2
  /v1/email-auth:
    get:
      tags:
      - OSINT
      summary: Email authentication check
      description: Check DMARC, SPF, DKIM, MTA-STS and TLS-RPT policies, and recursive SPF lookup behavior.
      operationId: getEmailAuth
      parameters:
      - name: domain
        description: Domain whose SPF, DKIM and DMARC configuration should be checked.
        in: query
        required: true
        schema:
          type: string
      - name: selectors
        in: query
        required: false
        description: Optional comma-separated DKIM selectors. At most 50 valid DNS selector names are accepted.
        schema:
          type: string
          example: google,selector1,sendgrid
      responses:
        '200':
          description: Email authentication status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailAuthResponse'
              example:
                domain: google.com
                spf:
                  record: v=spf1 include:_spf.google.com ~all
                  lookup_estimate: 1
                  includes:
                  - _spf.google.com
                  redirect: null
                  macros_present: false
                  macro_references: []
                  lookup_walk_count: 1
                  lookup_limit_exceeded: false
                  walk:
                  - domain: google.com
                    depth: 0
                    record: v=spf1 include:_spf.google.com ~all
                    mechanisms:
                    - include:_spf.google.com
                    - ~all
                    includes:
                    - _spf.google.com
                    redirect: null
                    direct_lookup_count: 1
                    total_lookup_count: 1
                    macros_present: false
                    macro_references: []
                    multiple_records: 1
                  walk_errors: []
                  lookup_tree:
                    root_domain: google.com
                    node_count: 1
                    max_depth: 0
                    cycles_detected: []
                    nodes:
                    - domain: google.com
                      depth: 0
                      status: present
                      direct_lookup_count: 1
                      total_lookup_count: 1
                      includes:
                      - _spf.google.com
                      redirect: null
                      mechanisms:
                      - include:_spf.google.com
                      - ~all
                      errors: []
                    edges:
                    - from: google.com
                      to: _spf.google.com
                      type: include
                dkim:
                - selector: google
                  record: v=DKIM1; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8A
                  key_type: rsa
                  key_size: 2048
                dkim_audit:
                  selectors_checked:
                  - google
                  - default
                  - selector1
                  - selector2
                  selectors_found:
                  - selector: google
                    dns_name: google._domainkey.google.com
                    record: v=DKIM1; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8A
                    record_type: TXT
                    cname_targets: []
                    provider_hint: Google Workspace
                    key_type: rsa
                    key_size: 2048
                    valid: true
                    revoked: false
                    weak: false
                    hash_algorithms:
                    - sha256
                    service_type: email
                    flags:
                    - s
                    issues: []
                  total_found: 1
                  providers_detected:
                  - Google Workspace
                  valid_selector_count: 1
                  weak_selector_count: 0
                  revoked_selector_count: 0
                bimi:
                  exists: true
                  record: v=BIMI1; l=https://example.com/logo.svg; a=https://example.com/vmc.pem
                  valid: true
                  logo_url: https://example.com/logo.svg
                  authority_url: https://example.com/vmc.pem
                  logo_fetch_ok: true
                  logo_http_status: 200
                  logo_content_type: image/svg+xml
                  logo_bytes: 2048
                  logo_svg_detected: true
                  vmc_present: true
                  vmc_fetched: true
                  vmc_http_status: 200
                  vmc_content_type: application/x-pem-file
                  vmc_certificate_valid: true
                  vmc_subject: /CN=Example Inc VMC
                  vmc_issuer: /CN=Example Issuer
                  vmc_not_before: '2026-01-01T00:00:00Z'
                  vmc_not_after: '2027-01-01T00:00:00Z'
                  vmc_days_to_expiry: 258
                  vmc_fingerprint_sha256: AA:BB:CC:DD
                  vmc_san_domains:
                  - google.com
                  errors: []
                dmarc:
                  record: v=DMARC1; p=reject; rua=mailto:mailauth-reports@google.com
                  tags:
                    v: DMARC1
                    p: reject
                    rua: mailto:mailauth-reports@google.com
                mta_sts:
                  exists: true
                  record: v=STSv1; id=2024010101Z
                  valid: true
                  policy_id: 2024010101Z
                  policy_fetch_ok: true
                  policy_http_status: 200
                  mode: enforce
                  max_age: 86400
                  mx_hosts:
                  - '*.google.com'
                  mx_records:
                  - aspmx.l.google.com
                  policy_matches_mx: true
                  uncovered_mx: []
                  errors: []
                tls_rpt:
                  exists: true
                  record: v=TLSRPTv1; rua=mailto:sts-reports@google.com
                  valid: true
                  rua:
                  - mailto:sts-reports@google.com
                  errors: []
                client_access:
                  provider_hint:
                    id: google_workspace
                    name: Google Workspace
                  mx_records:
                  - aspmx.l.google.com
                  services:
                  - service: imap
                    host: imap.gmail.com
                    port: 993
                    source: provider_default
                    priority: null
                    weight: null
                    tls_mode: implicit
                    reachable: true
                    tls_negotiated: true
                    starttls_offered: null
                    protocol: TLSv1.3
                    cipher: TLS_AES_256_GCM_SHA384
                    certificate:
                      subject: /CN=imap.gmail.com
                      issuer: /CN=WR2
                      not_before: '2026-01-01T00:00:00Z'
                      not_after: '2026-07-01T00:00:00Z'
                      days_to_expiry: 70
                      expired: false
                      san_domains:
                      - imap.gmail.com
                      public_key_type: EC
                      public_key_bits: 256
                      fingerprint_sha256: CC:DD:EE:FF
                      hostname_match: true
                      chain_valid: true
                      chain_error: null
                    chain_depth: 2
                    error: null
                  reachable_service_count: 1
                  secure_service_count: 1
                autodiscover:
                  provider_hint:
                    id: google_workspace
                    name: Google Workspace
                  mx_records:
                  - aspmx.l.google.com
                  srv:
                    autodiscover: []
                    submission: []
                    submissions: []
                    imap: []
                    imaps: []
                    pop3: []
                    pop3s: []
                  thunderbird_autoconfig:
                    subdomain:
                      url: https://autoconfig.google.com/mail/config-v1.1.xml?emailaddress=postmaster%40google.com
                      status_code: 404
                      content_type: text/html
                      final_url: https://autoconfig.google.com/mail/config-v1.1.xml?emailaddress=postmaster%40google.com
                      redirect_count: 0
                      incoming: []
                      outgoing: []
                      error: null
                    well_known:
                      url: https://google.com/.well-known/autoconfig/mail/config-v1.1.xml?emailaddress=postmaster%40google.com
                      status_code: 200
                      content_type: application/xml
                      final_url: https://google.com/.well-known/autoconfig/mail/config-v1.1.xml?emailaddress=postmaster%40google.com
                      redirect_count: 0
                      incoming:
                      - type: imap
                        hostname: imap.gmail.com
                        port: 993
                        socket_type: SSL
                      outgoing:
                      - type: smtp
                        hostname: smtp.gmail.com
                        port: 587
                        socket_type: STARTTLS
                      error: null
                  outlook_autodiscover:
                    url: https://autodiscover.google.com/autodiscover/autodiscover.xml
                    status_code: 401
                    content_type: text/html
                    final_url: https://autodiscover.google.com/autodiscover/autodiscover.xml
                    redirect_count: 0
                    auth_required: true
                    error: null
                  recommended:
                  - service: imap
                    host: imap.gmail.com
                    port: 993
                    tls_mode: implicit
                    source: provider_default
                edge_summary:
                  relay_configured: true
                  evidence_sources:
                  - spf_walk
                  - mail_policies
                  - bimi_audit
                  - dkim_audit
                  - mail_client_access
                  - mail_autodiscover
                  spf_lookup_count: 1
                  spf_lookup_limit_exceeded: false
                  dkim_valid_selector_count: 1
                  dkim_weak_selector_count: 0
                  dkim_revoked_selector_count: 0
                  providers_detected:
                  - Google Workspace
                  mta_sts_enforced: true
                  tls_rpt_configured: true
                  bimi_logo_verified: true
                  vmc_certificate_valid: true
                  client_access_reachable_services: 1
                  client_access_secure_services: 1
                  autodiscover_recommendation_count: 1
                provider_selector_recommendations:
                - provider: Google Workspace
                  selectors:
                  - google
                  - '20230601'
                  - '20210112'
                  source: detected
                  checked_selectors:
                  - google
                  found_selectors:
                  - google
                  missing_selectors:
                  - '20230601'
                  - '20210112'
                grade: A
                notes: []
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-domscan-credits:
        model: per_request
        default: 3
  /v1/similarity:
    get:
      tags:
      - OSINT
      summary: Domain similarity check
      description: Compare two domains for visual/textual similarity
      operationId: getDomainSimilarity
      parameters:
      - name: domain1
        description: First domain to compare. The alias source is also accepted.
        in: query
        required: true
        schema:
          type: string
      - name: domain2
        description: Second domain to compare. The alias target is also accepted.
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Similarity analysis
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimilarityResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-domscan-credits:
        model: per_request
        default: 2
  /v1/mac:
    get:
      tags:
      - OSINT
      summary: MAC address lookup
      description: Identify device manufacturer from MAC address
      operationId: getMacInfo
      parameters:
      - name: mac
        in: query
        required: true
        description: MAC address (any format)
        schema:
          type: string
          example: 00:1A:2B:3C:4D:5E
      responses:
        '200':
          description: MAC vendor information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MacInfoResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          description: Vendor evidence is temporarily unavailable. The request is refunded and can be retried.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: UPSTREAM_UNAVAILABLE
                  message: MAC vendor lookup temporarily unavailable
      x-domscan-credits:
        model: per_request
        default: 1
  /v1/mac/info:
    get:
      tags:
      - OSINT
      summary: Get MAC lookup endpoint details
      description: Returns parameter help and an example response for the MAC address lookup endpoint.
      operationId: getMacLookupInfo
      responses:
        '200':
          description: MAC endpoint reference
          content:
            application/json:
              schema:
                type: object
                properties:
                  endpoint:
                    type: string
                  description:
                    type: string
                  parameters:
                    type: object
                  example_request:
                    type: string
                  example_response:
                    type: object
              example:
                endpoint: /v1/mac
                description: Lookup MAC address metadata and vendor information.
                parameters:
                  mac:
                    type: string
                    required: true
                    description: MAC address string in any common format
                    example: 44:38:39:ff:ef:57
                example_request: /v1/mac?mac=44:38:39:ff:ef:57
                example_response:
                  mac: 44:38:39:FF:EF:57
                  type: eui-48
                  oui: '44:38:39'
                  device_id: FF:EF:57
                  flags:
                    multicast: false
                    locally_administered: false
                    broadcast: false
                  vendor:
                    name: Cumulus Networks, Inc
                    found: true
                    source: cache
                    cached: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-domscan-credits:
        model: per_request
        default: 0
  /v1/report:
    get:
      tags:
      - OSINT
      summary: Comprehensive domain report
      description: Full domain intelligence report combining all available data
      operationId: getFullReport
      parameters:
      - name: domain
        description: Domain to build the combined report for.
        in: query
        required: true
        schema:
          type: string
      - name: sections
        in: query
        required: false
        description: Comma-separated report sections to include.
        schema:
          type: string
          example: availability,dns,whois,ssl
      responses:
        '200':
          description: Comprehensive report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FullReportResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-domscan-credits:
        model: per_request
        default: 5
components:
  schemas:
    SimilarityResponse:
      type: object
      description: Domain similarity analysis
      properties:
        domain1:
          type: string
        domain2:
          type: string
        overall_similarity:
          type: number
          minimum: 0
          maximum: 100
        risk_level:
          type: string
          enum:
          - none
          - low
          - medium
          - high
          - critical
        analysis:
          type: object
          properties:
            levenshtein_distance:
              type: integer
            levenshtein_similarity:
              type: number
              minimum: 0
              maximum: 100
            jaro_winkler_similarity:
              type: number
              minimum: 0
              maximum: 100
            visual_similarity:
              type: number
              minimum: 0
              maximum: 100
            keyboard_distance:
              type: number
            common_prefix_length:
              type: integer
            common_suffix_length:
              type: integer
        matching_methods:
          type: array
          items:
            type: string
        is_potential_typosquat:
          type: boolean
        checked_at:
          type: string
          format: date-time
        meta:
          type: object
          additionalProperties: true
    SpfLookupTree:
      type: object
      description: Recursive SPF lookup graph with per-node status, includes, redirects, and cycle/limit visibility.
      properties:
        root_domain:
          type: string
        node_count:
          type: integer
        max_depth:
          type: integer
        cycles_detected:
          type: array
          items:
            type: string
        nodes:
          type: array
          items:
            type: object
            properties:
              domain:
                type: string
              depth:
                type: integer
              status:
                type: string
                enum:
                - present
                - missing
                - cycle
                - error
                - limit_exceeded
              direct_lookup_count:
                type: integer
              total_lookup_count:
                type: integer
              includes:
                type: array
                items:
                  type: string
              redirect:
                type:
                - string
                - 'null'
              mechanisms:
                type: array
                items:
                  type: string
              errors:
                type: array
                items:
                  type: string
        edges:
          type: array
          items:
            type: object
            properties:
              from:
                type: string
              to:
                type: string
              type:
                type: string
                enum:
                - include
                - redirect
    EmailAuthResponse:
      type: object
      description: Email authentication (SPF/DKIM/DMARC) status with BIMI/VMC, MTA-STS, and TLS-RPT checks
      properties:
        domain:
          type: string
        spf:
          type: object
          properties:
            record:
              type:
              - string
              - 'null'
            lookup_estimate:
              type: integer
            includes:
              type: array
              items:
                type: string
            redirect:
              type:
              - string
              - 'null'
            macros_present:
              type: boolean
            macro_references:
              type: array
              items:
                type: string
            lookup_walk_count:
              type: integer
            lookup_limit_exceeded:
              type: boolean
            walk:
              type: array
              description: Extended recursive SPF analysis with macro detection.
              items:
                type: object
                properties:
                  domain:
                    type: string
                  depth:
                    type: integer
                  record:
                    type: string
                  mechanisms:
                    type: array
                    items:
                      type: string
                  includes:
                    type: array
                    items:
                      type: string
                  redirect:
                    type:
                    - string
                    - 'null'
                  direct_lookup_count:
                    type: integer
                  total_lookup_count:
                    type: integer
                  macros_present:
                    type: boolean
                  macro_references:
                    type: array
                    items:
                      type: string
                  multiple_records:
                    type: integer
            walk_errors:
              type: array
              items:
                type: string
            lookup_tree:
              $ref: '#/components/schemas/SpfLookupTree'
        dkim:
          type: array
          items:
            type: object
            properties:
              selector:
                type: string
              record:
                type:
                - string
                - 'null'
              key_type:
                type:
                - string
                - 'null'
              key_size:
                type:
                - integer
                - 'null'
        dkim_audit:
          type: object
          description: Extended DKIM selector discovery and key-strength audit.
          properties:
            selectors_checked:
              type: array
              items:
                type: string
            selectors_found:
              type: array
              items:
                type: object
                properties:
                  selector:
                    type: string
                  dns_name:
                    type: string
                  record:
                    type:
                    - string
                    - 'null'
                  record_type:
                    type:
                    - string
                    - 'null'
                    enum:
                    - TXT
                    - CNAME
                  cname_targets:
                    type: array
                    items:
                      type: string
                  provider_hint:
                    type:
                    - string
                    - 'null'
                  key_type:
                    type:
                    - string
                    - 'null'
                  key_size:
                    type:
                    - integer
                    - 'null'
                  valid:
                    type: boolean
                  revoked:
                    type: boolean
                  weak:
                    type: boolean
                  hash_algorithms:
                    type: array
                    items:
                      type: string
                  service_type:
                    type:
                    - string
                    - 'null'
                  flags:
                    type: array
                    items:
                      type: string
                  issues:
                    type: array
                    items:
                      type: string
            total_found:
              type: integer
            providers_detected:
              type: array
              items:
                type: string
            valid_selector_count:
              type: integer
            weak_selector_count:
              type: integer
            revoked_selector_count:
              type: integer
        bimi:
          type: object
          description: Extended BIMI logo and VMC validation.
          properties:
            exists:
              type: boolean
            record:
              type:
              - string
              - 'null'
            valid:
              type: boolean
            logo_url:
              type:
              - string
              - 'null'
            authority_url:
              type:
              - string
              - 'null'
            logo_fetch_ok:
              type:
              - boolean
              - 'null'
            logo_http_status:
              type:
              - integer
              - 'null'
            logo_content_type:
              type:
              - string
              - 'null'
            logo_bytes:
              type:
              - integer
              - 'null'
            logo_svg_detected:
              type:
              - boolean
              - 'null'
            vmc_present:
              type: boolean
            vmc_fetched:
              type:
              - boolean
              - 'null'
            vmc_http_status:
              type:
              - integer
              - 'null'
            vmc_content_type:
              type:
              - string
              - 'null'
            vmc_certificate_valid:
              type:
              - boolean
              - 'null'
            vmc_subject:
              type:
              - string
              - 'null'
            vmc_issuer:
              type:
              - string
              - 'null'
            vmc_not_before:
              type:
              - string
              - 'null'
              format: date-time
            vmc_not_after:
              type:
              - string
              - 'null'
              format: date-time
            vmc_days_to_expiry:
              type:
              - integer
              - 'null'
            vmc_fingerprint_sha256:
              type:
              - string
              - 'null'
            vmc_san_domains:
              type: array
              items:
                type: string
            errors:
              type: array
              items:
                type: string
        dmarc:
          type: object
          properties:
            record:
              type:
              - string
              - 'null'
            tags:
              type: object
              additionalProperties:
                type: string
        mta_sts:
          type: object
          description: Extended MTA-STS policy inspection.
          properties:
            exists:
              type: boolean
            record:
              type:
              - string
              - 'null'
            valid:
              type: boolean
            policy_id:
              type:
              - string
              - 'null'
            policy_fetch_ok:
              type: boolean
            policy_http_status:
              type:
              - integer
              - 'null'
            mode:
              type:
              - string
              - 'null'
              enum:
              - enforce
              - testing
              - none
            max_age:
              type:
              - integer
              - 'null'
            mx_hosts:
              type: array
              items:
                type: string
            mx_records:
              type: array
              items:
                type: string
            policy_matches_mx:
              type:
              - boolean
              - 'null'
            uncovered_mx:
              type: array
              items:
                type: string
            errors:
              type: array
              items:
                type: string
        tls_rpt:
          type: object
          description: Extended TLS reporting policy parsed from `_smtp._tls.<domain>`.
          properties:
            exists:
              type: boolean
            record:
              type:
              - string
              - 'null'
            valid:
              type: boolean
            rua:
              type: array
              items:
                type: string
            errors:
              type: array
              items:
                type: string
        client_access:
          type: object
          description: Extended TLS audit for mailbox client access and submission services.
          properties:
            provider_hint:
              type:
              - object
              - 'null'
              properties:
                id:
                  type: string
                name:
                  type: string
            mx_records:
              type: array
              items:
                type: string
            services:
              type: array
              items:
                type: object
                properties:
                  service:
                    type: string
                  host:
                    type: string
                  port:
                    type: integer
                  source:
                    type: string
                  priority:
                    type:
                    - integer
                    - 'null'
                  weight:
                    type:
                    - integer
                    - 'null'
                  tls_mode:
                    type: string
                    enum:
                    - implicit
                    - starttls
                  reachable:
                    type: boolean
                  tls_negotiated:
                    type: boolean
                  starttls_offered:
                    type:
                    - boolean
                    - 'null'
                  protocol:
                    type:
                    - string
                    - 'null'
                  cipher:
                    type:
                    - string
                    - 'null'
                  certificate:
                    type:
                    - object
                    - 'null'
                    properties:
                      subject:
                        type: string
                      issuer:
                        type: string
                      not_before:
                        type: string
                        format: date-time
                      not_after:
                        type: string
                        format: date-time
                      days_to_expiry:
                        type: integer
                      expired:
                        type: boolean
                      san_domains:
                        type: array
                        items:
                          type: string
                      public_key_type:
                        type:
                        - string
                        - 'null'
                      public_key_bits:
                        type:
                        - integer
                        - 'null'
                      fingerprint_sha256:
                        type:
                        - string
                        - 'null'
                      hostname_match:
                        type:
                        - boolean
                        - 'null'
                      chain_valid:
                        type: boolean
                      chain_error:
                        type:
                        - string
                        - 'null'
                  chain_depth:
                    type: integer
                  error:
                    type:
                    - string
                    - 'null'
            reachable_service_count:
              type: integer
            secure_service_count:
              type: integer
        autodiscover:
          type: object
          description: Extended mail client discovery via autoconfig, autodiscover, and SRV hints.
          properties:
            provider_hint:
              type:
              - object
              - 'null'
              properties:
                id:
                  type: string
                name:
                  type: string
            mx_records:
              type: array
              items:
                type: string
            srv:
              type: object
              properties:
                autodiscover:
                  type: array
                  items:
                    type: object
                    properties:
                      priority:
                        type: integer
                      weight:
                        type: integer
                      port:
                        type: integer
                      target:
                        type: string
                submission:
                  type: array
                  items:
                    type: object
                    properties:
                      priority:
                        type: integer
                      weight:
                        type: integer
                      port:
                        type: integer
                      target:
                        type: string
                submissions:
                  type: array
                  items:
                    type: object
                    properties:
                      priority:
                        type: integer
                      weight:
                        type: integer
                      port:
                        type: integer
                      target:
                        type: string
                imap:
                  type: array
                  items:
                    type: object
                    properties:
                      priority:
                        type: integer
                      weight:
                        type: integer
                      port:
                        type: integer
                      target:
                        type: string
                imaps:
                  type: array
                  items:
                    type: object
                    properties:
                      priority:
                        type: integer
                      weight:
                        type: integer
                      port:
                        type: integer
                      target:
                        type: string
                pop3:
                  type: array
                  items:
                    type: object
                    properties:
                      priority:
                        type: integer
                      weight:
                        type: integer
                      port:
                        type: integer
                      target:
                        type: string
                pop3s:
                  type: array
                  items:
                    type: object
                    properties:
                      priority:
                        type: integer
                      weight:
                        type: integer
                      port:
                        type: integer
                      target:
                        type: string
            thunderbird_autoconfig:
              type: object
              properties:
                subdomain:
                  type: object
                  properties:
                    url:
                      type: string
                    status_code:
                      type:
                      - integer
                      - 'null'
                    content_type:
                      type:
                      - string
                      - 'null'
                    final_url:
                      type:
                      - string
                      - 'null'
                    redirect_count:
                      type: integer
                    incoming:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                          hostname:
                            type: string
                          port:
                            type: integer
                          socket_type:
                            type: string
                          username:
                            type: string
                    outgoing:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                          hostname:
                            type: string
                          port:
                            type: integer
                          socket_type:
                            type: string
                          username:
                            type: string
                    error:
                      type:
                      - string
                      - 'null'
                well_known:
                  type: object
                  properties:
                    url:
                      type: string
                    status_code:
                      type:
                      - integer
                      - 'null'
                    content_type:
                      type:
                      - string
                      - 'null'
                    final_url:
                      type:
                      - string
                      - 'null'
                    redirect_count:
                      type: integer
                    incoming:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                          hostname:
                            type: string
                          port:
                            type: integer
                          socket_type:
                            type: string
                          username:
                            type: string
                    outgoing:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                          hostname:
                            type: string
                          port:
                            type: integer
                          socket_type:
                            type: string
                          username:
                            type: string
                    error:
                      type:
                      - string
                      - 'null'
            outlook_autodiscover:
              type: object
              properties:
                url:
                  type: string
                status_code:
                  type:
                  - integer
                  - 'null'
                content_type:
                  type:
                  - string
                  - 'null'
                final_url:
                  type:
                  - string
                  - 'null'
                redirect_count:
                  type: integer
                auth_required:
                  type:
                  - boolean
                  - 'null'
                error:
                  type:
                  - string
                  - 'null'
            recommended:
              type: array
              items:
                type: object
                properties:
                  service:
                    type: string
                  host:
                    type: string
                  port:
                    type: integer
                  tls_mode:
                    type: string
                    enum:
                    - implicit
                    - starttls
                  source:
                    type: string
        edge_summary:
          type: object
          description: Compact supplemental probe summary for SPF, DKIM, MTA-STS, TLS-RPT, BIMI, VMC, client access, and autodiscover triage.
          properties:
            relay_configured:
              type: boolean
            evidence_sources:
              type: array
              items:
                type: string
            spf_lookup_count:
              type:
              - integer
              - 'null'
            spf_lookup_limit_exceeded:
              type: boolean
            dkim_valid_selector_count:
              type: integer
            dkim_weak_selector_count:
              type: integer
            dkim_revoked_selector_count:
              type: integer
            providers_detected:
              type: array
              items:
                type: string
            mta_sts_enforced:
              type: boolean
            tls_rpt_configured:
              type: boolean
            bimi_logo_verified:
              type:
              - boolean
              - 'null'
            vmc_certificate_valid:
              type:
              - boolean
              - 'null'
            client_access_reachable_services:
              type:
              - integer
              - 'null'
            client_access_secure_services:
              type:
              - integer
              - 'null'
            autodiscover_recommendation_count:
              type:
              - integer
              - 'null'
        provider_selector_recommendations:
          type: array
          description: Provider-specific DKIM selectors DomScan recommends checking based on detected MX, DKIM, and autodiscover hints.
          items:
            type: object
            properties:
              provider:
                type: string
              selectors:
                type: array
                items:
                  type: string
              source:
                type: string
                enum:
                - detected
                - mx_hint
                - fallback
              checked_selectors:
                type: array
                items:
                  type: string
              found_selectors:
                type: array
                items:
                  type: string
              missing_selectors:
                type: array
                items:
                  type: string
        grade:
          type: string
        notes:
          type: array
          items:
            type: string
    BulkLookupResponse:
      type: object
      description: Ordered bulk lookup response. A successful outer response can contain per-item failures.
      required:
      - results
      - meta
      properties:
        results:
          type: array
          description: Results in the same order as the submitted inputs.
          items:
            oneOf:
            - type: object
              required:
              - input
              - data
              properties:
                input:
                  type: string
                data:
                  type: object
                  additionalProperties: true
            - type: object
              required:
              - input
              - error
              properties:
                input:
                  type: string
                error:
                  type: object
                  required:
                  - code
                  - message
                  - status
                  properties:
                    code:
                      type: string
                    message:
                      type: string
                    status:
                      type: integer
                  additionalProperties: true
        meta:
          type: object
          required:
          - total
          - succeeded
          - failed
          - max_items
          - credits_per_item
          - duration_ms
          properties:
            total:
              type: integer
              minimum: 1
              maximum: 10
            succeeded:
              type: integer
              minimum: 0
              maximum: 10
            failed:
              type: integer
              minimum: 0
              maximum: 10
            max_items:
              type: integer
              enum:
              - 10
            credits_per_item:
              type: integer
              minimum: 1
            duration_ms:
              type: integer
              minimum: 0
    FullReportResponse:
      type: object
      description: Comprehensive domain intelligence report
      properties:
        domain:
          type: string
        generated_at:
          type: string
          format: date-time
        availability:
          type: object
        dns:
          type: object
        whois:
          type: object
        ssl:
          type: object
        tech_stack:
          type: object
        reputation:
          type: object
        email_auth:
          type: object
        valuation:
          type: object
        summary:
          type: object
          properties:
            health_score:
              type: integer
            security_score:
              type: integer
            issues:
              type: array
              items:
                type: string
            recommendations:
              type: array
              items:
                type: string
    ErrorResponse:
      type: object
      description: Standard error response format
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code for programmatic handling
              example: INVALID_DOMAIN
            type:
              type: string
              enum:
              - authentication_error
              - credits_error
              - permission_error
              - not_found_error
              - conflict_error
              - rate_limit_error
              - timeout_error
              - validation_error
              - upstream_error
              - api_error
              - request_error
              description: Stable error category used by official SDK subclasses
            message:
              type: string
              description: Human-readable error message
              example: Invalid domain format
            status:
              type: integer
              minimum: 400
              maximum: 599
              description: HTTP status repeated in the JSON error for queue and log processors
            retryable:
              type: boolean
              description: Whether retrying can be appropriate after applying retry guidance
            request_id:
              type: string
              description: Request identifier matching the X-Request-Id response header
            suggestion:
              type: string
              description: Suggestion for fixing the error
            details:
              type: object
              description: Optional structured context for the error
              additionalProperties: true
            retry_after:
              type: integer
              minimum: 0
              description: Seconds to wait before retrying when the error is temporary
              example: 300
            docs_url:
              type: string
              description: Link to relevant documentation
              example: /docs#parameters
          required:
          - type
          - code
          - message
          - status
          - retryable
          - request_id
          - docs_url
    MacInfoResponse:
      type: object
      description: MAC address vendor information
      properties:
        mac:
          type: string
        input:
          type: string
        type:
          type: string
          enum:
          - eui-48
          - eui-64
        oui:
          type: string
          description: Organizationally Unique Identifier
        device_id:
          type: string
        flags:
          type: object
          properties:
            multicast:
              type: boolean
            locally_administered:
              type: boolean
            broadcast:
              type: boolean
        vendor:
          type: object
          properties:
            name:
              type:
              - string
              - 'null'
            found:
              type: boolean
            organization:
              type:
              - string
              - 'null'
            address:
              type:
              - string
              - 'null'
            country:
              type:
              - string
              - 'null'
            device_type:
              type:
              - string
              - 'null'
            source:
              type: string
            cached:
              type: boolean
            cache_age_s:
              type:
              - integer
              - 'null'
            checked_at:
              type: string
              format: date-time
        meta:
          type: object
          additionalProperties: true
  responses:
    Unauthorized:
      description: 'Authentication required. All API endpoints require a valid API key (x-api-key header or Authorization: Bearer) or an active session cookie.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: AUTH_REQUIRED
              message: 'Authentication required. Provide an API key via x-api-key header or Authorization: Bearer header.'
              docs: https://domscan.net/docs/authentication
              get_key: https://domscan.net/login
    PaymentRequired:
      description: Insufficient credits for this request
      headers:
        X-Credits-Remaining:
          schema:
            type: integer
          description: Credits remaining on your API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: INSUFFICIENT_CREDITS
              message: Insufficient credits. This endpoint costs 2 credits but you have 0. Purchase more at https://domscan.net/billing or wait for your monthly reset.
              credits_remaining: 0
              credits_required: 2
              purchase_url: https://domscan.net/billing
    RateLimited:
      description: Rate limit exceeded. Free accounts can sustain 120 requests per minute per account with a burst capacity of 60. Free bulk traffic is additionally limited to 20 requests per minute per account across all bulk endpoints and 100 per minute per IPv4 address or IPv6 /56 network. Paid accounts can sustain 600 requests per minute with a burst capacity of 120.
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds to wait before retrying
        X-RateLimit-Plan:
          schema:
            type: string
            enum:
            - free
            - paid
          description: The account plan whose policy was applied.
        X-RateLimit-Limit:
          schema:
            type: integer
          description: The immediate burst capacity, or the active bulk fixed-window limit when a bulk-specific limit is exceeded.
        X-RateLimit-Remaining:
          schema:
            type: integer
            example: 0
          description: Immediate burst tokens remaining, or requests remaining in the active bulk fixed window.
        X-RateLimit-Policy:
          schema:
            type: string
          description: Machine-readable summary of the active tier and limit policy.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: RATE_LIMITED
              message: Rate limit exceeded. Please wait before making more requests.
    BadRequest:
      description: Bad request - invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: BAD_REQUEST
              message: Invalid domain format
              suggestion: Domain must be a valid format like example.com
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: 'API key for authentication. Get yours free at https://domscan.net. Also accepts Authorization: Bearer header.'
    sessionCookie:
      type: apiKey
      in: cookie
      name: session
      description: Active DomScan browser session. Used by account-management endpoints.
externalDocs:
  description: Full API Documentation
  url: https://domscan.net/docs
x-rapidapi-product: domscan
x-domscan-rate-limits:
  free:
    general:
      scope: account
      sustained_requests_per_minute: 120
      burst_capacity: 60
      shared_across_api_keys_and_sessions: true
    bulk:
      scope: all bulk endpoints combined
      account_requests_per_minute: 20
      network_requests_per_minute: 100
      ipv6_network_prefix: 56
  paid:
    general:
      scope: API key for key-authenticated requests; IP for browser sessions
      sustained_requests_per_minute: 600
      burst_capacity: 120
    free_bulk_budget_applies: false
  response:
    status: 429
    retry_header: Retry-After
    headers_on_every_authenticated_response:
    - X-RateLimit-Plan
    - X-RateLimit-Limit
    - X-RateLimit-Remaining
    - X-RateLimit-Policy
    burst_headers:
    - X-RateLimit-Limit
    - X-RateLimit-Remaining
    policy_header: X-RateLimit-Policy
x-domscan-response-metadata:
  compatibility: additive response headers; established JSON success bodies are unchanged
  headers:
    X-Request-Id: Unique request identifier for logs and support
    X-API-Version: DomScan API release version
    X-Response-Time: Server processing duration in milliseconds
    X-Credits-Requested: Credits requested before refund settlement
    X-Credits-Charged: Credits retained after settlement
    X-Credits-Refunded: Credits returned during settlement
    X-Credits-Remaining: Authenticated account balance after the request
    X-Data-Freshness: fresh, cached, stale, mixed, or unknown
    X-RateLimit-Limit: Active burst capacity
    X-RateLimit-Remaining: Remaining burst capacity
    X-RateLimit-Plan: Active plan, or not_applicable before authentication
    X-RateLimit-Policy: Machine-readable active rate policy
