openapi: 3.2.0
info:
  title: DomScan Domain Valuation API
  description: DomScan is a domain intelligence API providing domain analysis tools.
  version: 2.15.0
  contact:
    name: DomScan Support
    url: https://domscan.net
    email: support@domscan.net
  termsOfService: https://domscan.net/legal/terms
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://domscan.net
  description: Production server
security:
- apiKey: []
tags:
- name: Domain Valuation
  description: Algorithmic domain value estimation based on multiple factors
paths:
  /v1/value:
    get:
      tags:
      - Domain Valuation
      summary: Estimate domain value
      description: Algorithmic intrinsic domain valuation based on length, effective public suffix tier, dictionary words, brandability, semantic segmentation, and market comparable buckets. Compound suffixes such as `co.uk` and `ind.br` are parsed as one suffix. Excludes website traffic, revenue, and business/company value.
      operationId: getDomainValue
      parameters:
      - name: domain
        in: query
        required: true
        description: Registrable domain to value. Compound public suffixes are supported; subdomains are rejected.
        schema:
          type: string
          example: empresa.ind.br
      responses:
        '200':
          description: Valuation estimate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValuationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-domscan-credits:
        model: per_request
        default: 2
  /v1/value/bulk:
    post:
      tags:
      - Domain Valuation
      summary: Bulk domain valuation
      description: 'Valuate multiple domains at once (max 100) using the same intrinsic-domain logic as `/v1/value`.


        **Credits:** 2 credits per domain. Example: 10 domains = 20 credits.'
      operationId: bulkDomainValue
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - domains
              properties:
                domains:
                  type: array
                  items:
                    type: string
                  maxItems: 100
      responses:
        '200':
          description: Bulk valuation results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkValuationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-domscan-credits:
        model: per_item
        default: 2
components:
  schemas:
    ValuationResponse:
      type: object
      description: Intrinsic domain value estimation
      properties:
        domain:
          type: string
          description: Domain being valued
        label:
          type: string
          description: Registrable label being valued
        tld:
          type: string
          description: Effective public suffix, such as `com`, `co.uk`, or `ind.br`
        estimate:
          type: object
          description: Value estimate range
          properties:
            low:
              type: integer
              description: Low estimate in USD
            mid:
              type: integer
              description: Mid estimate in USD
            high:
              type: integer
              description: High estimate in USD
            currency:
              type: string
              default: USD
        factors:
          type: object
          description: Factors contributing to value
          properties:
            length:
              type: integer
            lengthMultiplier:
              type: number
            tld:
              type: string
              description: Effective public suffix used for valuation factors
            tldTier:
              type: string
              enum:
              - premium
              - standard
              - value
              - cctld
            tldBase:
              type: integer
            hasHyphens:
              type: boolean
            hasNumbers:
              type: boolean
            lettersOnly:
              type: boolean
            isPremiumWord:
              type: boolean
            isDictionaryWord:
              type: boolean
            isBrandable:
              type: boolean
            isNumericPattern:
              type: boolean
            isLetterPattern:
              type: boolean
            pronounceability:
              type: number
            memorability:
              type: number
            spellingDifficulty:
              type: number
            isAcronym:
              type: boolean
            hasCommonEnding:
              type: boolean
            syllableCount:
              type: integer
        comparables:
          type: array
          items:
            type: object
            properties:
              category:
                type: string
              typical_range:
                type: object
                properties:
                  low:
                    type: integer
                  high:
                    type: integer
              examples:
                type: array
                items:
                  type: string
              relevance:
                type: number
        confidence:
          type: number
          minimum: 0
          maximum: 1
          description: Confidence level 0-1
        valuation_summary:
          $ref: '#/components/schemas/ValuationSummary'
        analysis:
          type: object
          properties:
            scope:
              type: string
              enum:
              - intrinsic_domain_value
            excludes:
              type: array
              items:
                type: string
            range_source:
              type: string
              enum:
              - heuristic
              - blended
              - anchored
            range_width:
              type: string
              enum:
              - narrow
              - moderate
              - wide
            confidence_label:
              type: string
              enum:
              - low
              - medium
              - high
            primary_comparable_category:
              type:
              - string
              - 'null'
            primary_comparable_range:
              type:
              - object
              - 'null'
              properties:
                low:
                  type: integer
                high:
                  type: integer
                position:
                  type: string
                  enum:
                  - lower
                  - mid
                  - upper
                relative_position:
                  type: number
            out_of_distribution:
              type: boolean
            out_of_distribution_reasons:
              type: array
              items:
                type: string
            positive_factors:
              type: array
              items:
                type: string
            negative_factors:
              type: array
              items:
                type: string
        methodology:
          type: string
        meta:
          type: object
          properties:
            served_by:
              type: string
            disclaimer:
              type: string
    ErrorResponse:
      type: object
      description: Standard error response format
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code for programmatic handling
              example: INVALID_DOMAIN
            type:
              type: string
              enum:
              - authentication_error
              - credits_error
              - permission_error
              - not_found_error
              - conflict_error
              - rate_limit_error
              - timeout_error
              - validation_error
              - upstream_error
              - api_error
              - request_error
              description: Stable error category used by official SDK subclasses
            message:
              type: string
              description: Human-readable error message
              example: Invalid domain format
            status:
              type: integer
              minimum: 400
              maximum: 599
              description: HTTP status repeated in the JSON error for queue and log processors
            retryable:
              type: boolean
              description: Whether retrying can be appropriate after applying retry guidance
            request_id:
              type: string
              description: Request identifier matching the X-Request-Id response header
            suggestion:
              type: string
              description: Suggestion for fixing the error
            details:
              type: object
              description: Optional structured context for the error
              additionalProperties: true
            retry_after:
              type: integer
              minimum: 0
              description: Seconds to wait before retrying when the error is temporary
              example: 300
            docs_url:
              type: string
              description: Link to relevant documentation
              example: /docs#parameters
          required:
          - type
          - code
          - message
          - status
          - retryable
          - request_id
          - docs_url
    ValuationSummary:
      type: object
      description: Additive valuation confidence and liquidity rollup for quick sorting and downstream explanations.
      properties:
        model_scope:
          type: string
          enum:
          - intrinsic_domain_value
        confidence:
          type: number
          minimum: 0
          maximum: 1
        confidence_label:
          type: string
          enum:
          - low
          - medium
          - high
        range_source:
          type: string
          enum:
          - heuristic
          - blended
          - anchored
        range_width:
          type: string
          enum:
          - narrow
          - moderate
          - wide
        comparable_count:
          type: integer
        primary_comparable_category:
          type:
          - string
          - 'null'
        primary_comparable_position:
          type:
          - string
          - 'null'
          enum:
          - lower
          - mid
          - upper
        positive_driver_count:
          type: integer
        negative_driver_count:
          type: integer
        liquidity_band:
          type: string
          enum:
          - low
          - moderate
          - high
          - very_high
        tld_tier:
          type: string
          enum:
          - premium
          - standard
          - value
          - cctld
        renewal_price_awareness:
          type: object
          properties:
            uses_tld_base:
              type: boolean
            tld_base_usd:
              type: integer
            registrar_specific_prices_included:
              type: boolean
        risk_flags:
          type: array
          items:
            type: string
    BulkValuationResponse:
      type: object
      description: Bulk domain valuation results
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/ValuationResponse'
        meta:
          type: object
          properties:
            served_by:
              type: string
            total:
              type: integer
            disclaimer:
              type: string
  responses:
    Unauthorized:
      description: 'Authentication required. All API endpoints require a valid API key (x-api-key header or Authorization: Bearer) or an active session cookie.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: AUTH_REQUIRED
              message: 'Authentication required. Provide an API key via x-api-key header or Authorization: Bearer header.'
              docs: https://domscan.net/docs/authentication
              get_key: https://domscan.net/login
    PaymentRequired:
      description: Insufficient credits for this request
      headers:
        X-Credits-Remaining:
          schema:
            type: integer
          description: Credits remaining on your API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: INSUFFICIENT_CREDITS
              message: Insufficient credits. This endpoint costs 2 credits but you have 0. Purchase more at https://domscan.net/billing or wait for your monthly reset.
              credits_remaining: 0
              credits_required: 2
              purchase_url: https://domscan.net/billing
    RateLimited:
      description: Rate limit exceeded. Free accounts can sustain 120 requests per minute per account with a burst capacity of 60. Free bulk traffic is additionally limited to 20 requests per minute per account across all bulk endpoints and 100 per minute per IPv4 address or IPv6 /56 network. Paid accounts can sustain 600 requests per minute with a burst capacity of 120.
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds to wait before retrying
        X-RateLimit-Plan:
          schema:
            type: string
            enum:
            - free
            - paid
          description: The account plan whose policy was applied.
        X-RateLimit-Limit:
          schema:
            type: integer
          description: The immediate burst capacity, or the active bulk fixed-window limit when a bulk-specific limit is exceeded.
        X-RateLimit-Remaining:
          schema:
            type: integer
            example: 0
          description: Immediate burst tokens remaining, or requests remaining in the active bulk fixed window.
        X-RateLimit-Policy:
          schema:
            type: string
          description: Machine-readable summary of the active tier and limit policy.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: RATE_LIMITED
              message: Rate limit exceeded. Please wait before making more requests.
    BadRequest:
      description: Bad request - invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: BAD_REQUEST
              message: Invalid domain format
              suggestion: Domain must be a valid format like example.com
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: 'API key for authentication. Get yours free at https://domscan.net. Also accepts Authorization: Bearer header.'
    sessionCookie:
      type: apiKey
      in: cookie
      name: session
      description: Active DomScan browser session. Used by account-management endpoints.
externalDocs:
  description: Full API Documentation
  url: https://domscan.net/docs
x-rapidapi-product: domscan
x-domscan-rate-limits:
  free:
    general:
      scope: account
      sustained_requests_per_minute: 120
      burst_capacity: 60
      shared_across_api_keys_and_sessions: true
    bulk:
      scope: all bulk endpoints combined
      account_requests_per_minute: 20
      network_requests_per_minute: 100
      ipv6_network_prefix: 56
  paid:
    general:
      scope: API key for key-authenticated requests; IP for browser sessions
      sustained_requests_per_minute: 600
      burst_capacity: 120
    free_bulk_budget_applies: false
  response:
    status: 429
    retry_header: Retry-After
    headers_on_every_authenticated_response:
    - X-RateLimit-Plan
    - X-RateLimit-Limit
    - X-RateLimit-Remaining
    - X-RateLimit-Policy
    burst_headers:
    - X-RateLimit-Limit
    - X-RateLimit-Remaining
    policy_header: X-RateLimit-Policy
x-domscan-response-metadata:
  compatibility: additive response headers; established JSON success bodies are unchanged
  headers:
    X-Request-Id: Unique request identifier for logs and support
    X-API-Version: DomScan API release version
    X-Response-Time: Server processing duration in milliseconds
    X-Credits-Requested: Credits requested before refund settlement
    X-Credits-Charged: Credits retained after settlement
    X-Credits-Refunded: Credits returned during settlement
    X-Credits-Remaining: Authenticated account balance after the request
    X-Data-Freshness: fresh, cached, stale, mixed, or unknown
    X-RateLimit-Limit: Active burst capacity
    X-RateLimit-Remaining: Remaining burst capacity
    X-RateLimit-Plan: Active plan, or not_applicable before authentication
    X-RateLimit-Policy: Machine-readable active rate policy
